[2019-07-14 06:46] shalins opened #4 "Literally no way to use this"
This is literally the worst repo of all time. I can't stress enough how stupid these developers must be to release a repo that they claim works but literally doesn't. First of all, you have to manually run pod install every time. Also I've installed like 5 different versions of Xcode including version 10.1, 10.2 and 11 beta 3. None of the Xcode versions work with this stupid repo. Jesus Christ fix

[2019-07-16 18:59] cgmaier commented on #4
Hey there, thanks for checking out the SDK. Sorry to hear you’re having trouble. We'd love to help.

Are you having trouble running the example project on your machine, or just using the Giphy pod in another project? If it is another project, is that project based in Objective-c or Swift?

In the case that the problem is with running the example, are you trying to run the Swift or Objective-C exam

[2019-07-17 07:16] zeusent opened #5 "Enable bitcode for GiphyUISDK"
I know this repository is only an example repo but I cannot find any issue or feature tracker for GiphyUISDK.

I'm using this SDK in an app I'm building and I was curious if there's maybe a way for you guys to turn on Bitcode for iit. From the multitude of 3rd party frameworks I'm using this is the only one currently not supporting this.

Thanks!

[2019-07-17 16:03] cgmaier commented on #5
Hey, thanks for reaching out. This is a great place to open issues around the Giphy UI SDK!

I just published an update with Bitcode in version v1.0.1. Let us know if this solves your problem and please reach out if you notice anything else : )

Chris

[2019-07-17 16:33] aiminh opened #7 "ObjectiveC Example Build ERROR : -1: SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'DeepDiff')"
1.
ObjectiveC Example Build ERROR : -1: SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'DeepDiff')

2. (Probably caused by 1)
giphy-ios-sdk-ui-example-master/Objective C/ExampleObjectiveC/ViewController.m:10:9: Could not build module 'GiphyUISDK'

[2019-07-17 17:08] cgmaier commented on #7
Hey @aiminh what version of Xcode are you using? We are not supporting versions of Swift earlier than 5.0 at the moment (which requires Xcode `10.2` or later)

[2019-07-17 17:56] aiminh commented on #7
I was using Xcode 10.1 !  Problem Solved! Thanks for the quick response!

[2019-07-17 18:02] cgmaier commented on #7
Good to hear! Let us know if you encounter anything else.

[2019-07-17 18:02] #7 closed

[2019-07-17 21:02] annaharri89 opened #9 "sizing the gifs"
Hi, this is Anna Harrison with Mutual. We're trying to size our GPHMediaViews based on the gif size, but we're having trouble doing it. We were going to try to do something with the media.aspectRatio, but that comes back as nil every time. Is that a bug? Is there any other fields available that would help with sizing the gifs?

[2019-07-18 00:13] cgmaier commented on #9
Hi Anna, nice catch! We were able to identify a possible cause of your issue.

Have you been trying to use the `setMediaWithID(id)` method to set the media on the `GPHMediaView`?

As fetching the media object is asynchronous, the `GPHMediaView`'s `media` property will likely still be `nil` when you attempt to check the `aspectRatio` property.

We could address this issue by adding a completion blo

[2019-07-18 02:34] knawwxbackme opened #10 "Gradient search icon and back icon not showing on the GiphyViewController()"
The first time I ran I could see the search icon and back button once I started searching but now they aren't showing. I didnt change anything with the pod or anything else. The back button still works but I just can't see either. I use theme .light and .waterfall

[2019-07-18 03:48] #10 closed

[2019-07-18 13:16] zeusent commented on #5
Hey Chris! Thanks for your fast reply. I think this would've worked. The problem is that since yesterday Apple just released Xcode 11 beta 4 which now uses Swift 5.1 and now `GiphyUISDK` doesn't work at all anymore. I get this compiler error now:

`Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler: /...PATH-TO-MY-PROJECT.../Pods/Giphy/GiphySDK/GiphyUISDK.framework/Modul

[2019-07-18 14:48] cgmaier commented on #10
Hey @knawwxbackme you closed this, I assume the issue has resolved itself, or you figured out a solution? If so, what was the solution?

We've seen some weirdness with image assets not showing up in the past and will keep an eye out for this.

[2019-07-18 14:53] cgmaier commented on #5
Hey @zeusent I'll look into to 5.1 compatibility but can't make any promises we'll get to this in the short term. We'll support Xcode 11 and corresponding Swift versions in advance of the official release later this year.

[2019-07-18 14:54] cgmaier commented on #5
Going to close this issue if that's alright, but will comment here to keep you in the loop about any news of Swift 5.1

[2019-07-18 14:54] #5 closed

[2019-07-18 14:55] zeusent commented on #5
Awesome! Thanks a lot!

[2019-07-19 14:28] cgmaier commented on #4
I'm going to close this. Please reopen a new issue if you can better isolate your problem

[2019-07-19 14:28] #4 closed

[2019-07-19 17:41] annaharri89 commented on #9
@cgmaier Please do not remove the `setMediaWithId` method. That would completely break our implementation of the giphy sdk. We are using `setMediaWithId` in our chat client. We send the gif id in some meta data in our chat message and then use regex to pull out the id and load it into the GPHMediaView using `setMediaWithId` (so we don't have to store the whole media object on our servers). So plea

[2019-07-27 19:47] h36ahmed opened #11 "Set custom height of giphy view controller"
I would like to customize the height of giphy view controller. Is that possible? Could you guys enable it? :)

[2019-07-29 15:40] cgmaier commented on #11
hey @h36ahmed, thanks for reaching out! why exactly would you like to do this, or what experience are you hoping to enable with programatic height for the search drawer?

[2019-07-29 15:43] h36ahmed commented on #11
So I have a video editing app and I have similar drawers like Giphy where I have them at a specific height so that user can add emojis or icons and see whats on the canvas. So for consistency and design purposes, I would like the drawer to have same height.

[2019-07-29 17:05] cgmaier commented on #11
hey @h36ahmed interesting - makes sense. thanks for your reply. we'll note this and keep our eyes out for similar requests. i'll keep you posted if / when we can accommodate this use case.

by the way, what's your app called? would love to check it out !

[2019-07-30 03:07] h36ahmed commented on #11
Awesome! the app is called Veme.ly. We have yet to release the new version of the app with the new SDK and new UI that is similar to Giphy UI SDK. It would be awesome if your team loves Veme.ly and can give us a shout in your marketing campaigns or sites for using Giphy SDK.

[2019-08-07 08:04] paulxuca opened #12 "Unable to set mediatypeconfig"
In an objective-c project:

[code]

or similar setters/methods do not work. Also the obj-c example does not do anything to this effect either.

[2019-08-07 14:55] cgmaier commented on #12
Thanks for catching this @paulxuca ! I'll let you know when we fix this.

[2019-08-12 01:24] paulxuca opened #13 "Filtering results by tags"
Hi there! 👋

Wondering if there is a way to filter results by tags (i.e `sports`). I could do this with the Giphy API, but would love to be able to do this in the Giphy SDK.

Thanks!

[2019-08-14 17:52] cgmaier commented on #12
Hi @paulxuca [v1.0.2](https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v1.0.2) should fix this issue for you. just run `pod update` to update

by the way, you'll need to do `[[ GiphyViewController alloc ] init ]` to properly create the `GiphyViewController, not just `[GiphyViewController init]`

thanks for you help, please let us know if you see anything else.

[2019-08-14 17:58] paulxuca commented on #12
Thanks! 👍

[2019-08-14 17:58] #12 closed

[2019-08-14 18:10] cgmaier commented on #13
hey @paulxuca, can you elaborate a bit? what sort of experience are you hoping to enable with tag filtering?

[2019-08-14 18:14] paulxuca commented on #13
We would love to be able to show more relevant results only based on a search term. In our case, it's sports related gifs/stickers

[2019-08-15 14:49] cgmaier commented on #13
gotcha ! unfortunately we likely can't support this in this SDK, but I'll pass your request along. what's your app if you don't mind me asking?

[2019-08-16 16:48] h36ahmed opened #15 "Set status bar appearance"
My app has certain screens on older phones like iPhone 6/7 where I have to hide status bar for increasing canvas space. When I present giphy it shows status bar on those screens. Possible to add a configuration to override status bar appearance?

[2019-08-16 16:49] h36ahmed opened #16 "DimBackground does not work"
I wanted to remove dimming of background but setting the boolean to false on the giphy controller did not remove the background. Could you take a look at it?

[2019-08-16 17:34] cgmaier commented on #16
hi @h36ahmed nice catch! we'll fix this in our next release

in the meantime, you should be able to disable background dimming with
[code]

this will bypass the custom view controller presentation animation which is responsible for the dimming.

thanks for your help!

[2019-08-16 17:47] cgmaier commented on #15
interesting, another good catch.

rather than another setting, I think it may make more sense to mark the `GiphyViewController` with the `open` modifier rather than just `public`, so that developers can subclass it and override the necessary methods to achieve status bar behavior, as well as other things.

i'll get back to you soon !

[2019-08-16 17:48] cgmaier commented on #11
hey @h36ahmed I've confirmed we can support this in our next release.

[2019-08-17 04:30] h36ahmed commented on #16
Awesome, thanks for the fix.

[2019-08-17 04:31] h36ahmed commented on #15
Awesome, that will work well

[2019-08-17 04:31] h36ahmed commented on #11
Thank you! You guys are awesome!

[2019-08-18 00:09] AlexClarkQP opened #17 "Could not cast 'GiphyCoreSDK.GPHMedia' to 'GiphyCoreSDK.GPHMedia'"
I’m getting an odd error with the following code after updating Giphy via Cocoapods:

let media = inst as! GPHMedia

The error is:

Could not cast value of type 'GiphyCoreSDK.GPHMedia' (0x10e425fc8) to 'GiphyCoreSDK.GPHMedia' (0x109e9f770).

This worked before I did ‘pod update” and no other changes were made. I’ve cleared the Xcode cache and re-initialized Cocopods but still no luck. I’ve also ve

[2019-08-18 09:34] AlexClarkQP commented on #17
Some extra (hopefully useful) info... I rolled back the version to 1.0.1 (from 1.0.2) in my podfile and the code is working again:

Podfile:
pod 'Giphy','1.0.1'

Pod output:
"Installing Giphy 1.0.1 (was 1.0.2)"

[2019-08-20 22:03] cgmaier commented on #17
hey @AlexClarkQP thanks for reaching out, that's very strange! I wasn't able to reproduce this. where does `inst` come from? what's your version of Cocoapods?

[2019-08-21 06:12] AlexClarkQP commented on #17
Hello, thank you very much for your help. I'm glad I could find a strange one. ;-)

The instance comes from GiphyViewController:

    func onGiphy() {
        let vc = GiphyViewController()
        vc.delegate = self
        present(vc, animated: true, completion: nil)
    }

Specifically, I get it in the delegate callback:

    func didSelectMedia(giphyViewController: GiphyViewController, media:

[2019-08-21 15:30] cgmaier commented on #17
ah interesting, so this is a crash at runtime, and not a compilation error?

[2019-08-21 16:27] AlexClarkQP commented on #17
That's correct. It compiles fine but when it runs I get that error. If I pause and check it in the debugger it shows as an instance of GPHMedia. It's almost like an old class instance from 1.0.1 is hanging around and causes that issues when I upgrade to 1.0.2. However, the code is pretty simple and I've cleared cache on xcode, re-initialized cocoapods and no luck.

[2019-08-21 18:26] cgmaier commented on #17
hey @AlexClarkQP thanks so much for the additional details. could you do me a huge favor and try running these commands?
[code]

[2019-08-22 08:46] AlexClarkQP commented on #17
Unfortunately that didn't work. However, I have done some experimenting and have some info which may be helpful.

If I use version 1.0.2, I get the exception as I noted at the start of this issue.

If I use version 1.0.1, the interface doesn't look quite right (missing the search icon - see attachment, "new_build_system.png") and I get the following warning (but the cast issue goes away):

: - 1:

[2019-08-23 05:41] everuribe opened #18 "Add GiphyViewController property to remove checkered background for stickers"
See image from Swift example below. Would like the background to just be clear.

Thank you!
![IMG_5629](https://user-images.githubusercontent.com/47759786/63569349-db013380-c52d-11e9-81b4-fa9e16bae8b2.jpg)

[2019-08-27 15:20] AlexClarkQP commented on #17
Thanks Chris I really appreciate it. I'm happy to send you any project files you need to help diagnose (offline of course).

[2019-08-29 01:31] rsoffer opened #22 "Giphy cannot be used with projects compiled in Xcode 11 w/ Swift 5.1"
`error: module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler: /Users/.../Pods/Giphy/GiphySDK/GiphyUISDK.framework/Modules/GiphyUISDK.swiftmodule/x86_64.swiftmodule import GiphyUISDK`

[2019-08-29 14:08] cgmaier commented on #22
hey @rsoffer , sorry for the inconvenience. we made a release for 5.1 which you can get [here](https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#swift-51)

you must have the latest Xcode 11 (beta 7) for this to work.

we'll push an official release to support 5.1 the second the official Xcode 11 is released.

[2019-09-03 14:39] cgmaier commented on #18
hey @everuribe did ya get a chance to try this out ? feel free to close this if it works for you!

[2019-09-05 22:01] h36ahmed commented on #15
yup i checked the example. You have done it correctly. i have fixed it on my end by making navigation controller hide the status bar.

[2019-09-05 22:02] h36ahmed commented on #11
Awesome! You can close it.

[2019-09-05 23:05] #11 closed

[2019-09-05 23:06] #15 closed

[2019-09-09 07:37] everuribe commented on #18
Works great! Thanks!

[2019-09-09 07:37] #18 closed

[2019-09-16 03:01] h36ahmed commented on #22
This works!

[2019-09-17 05:47] AlexClarkQP commented on #17
Thank you for the update. I tried it out and clicking on a gif presented in the Giphy display node now freezes the simulator. I'm guessing it may be a problem with the pre release build of xcode but I'm going to try a few things to be sure. I'll keep you posted!

[2019-09-18 07:53] dheeraj9022 commented on #22
Compiled module was created by a newer version of the compiler: /Users/krishna/Desktop/2019 Current Projects/BabbleU/Pods/Giphy/GiphySDK/GiphyUISDK.framework/Modules/GiphyUISDK.swiftmodule/arm64-apple-ios.swiftmodule

[2019-09-19 04:56] laud opened #25 "Modify collectionView styling"
I'm looking to modify the number of columns (to 3), cell size (to square), and cell contentMode (to aspectFit).

What's the best way to make these modifications on `GiphyGridController`?

[2019-09-19 08:47] luohui8891 opened #26 "Static Library"
For some reason, we need a Static Library linked in our App.
Does it in your to-do?

[2019-09-23 14:11] cgmaier commented on #22
@dheeraj9022 what Xcode version are you on?

[2019-09-23 14:15] cgmaier commented on #26
hey @luohui8891! Can you please elaborate? The GIPHY SDK is distributed through Cocoapods as a static framework.

[2019-09-23 15:00] cgmaier commented on #25
hey @laud ! we currently don’t support settings to modify cell aspect ratio and cell contentMode settings. I’ll note your request for my team and get back to you if anything changes.

[2019-09-23 15:20] cgmaier commented on #17
hey @AlexClarkQP let us know if you've resolved this : )

[2019-09-23 22:40] shial4 opened #27 "Fatal error"
Fatal error: Error writing to keychain - unhandledError(status: -25308): file /Users/chrismaier/Documents/GitHub/giphy-ios-sdk-ui/Carthage/Checkouts/giphy-ios-sdk-analytics/Source/GPHKeychain.swift, line 136

The app crashes constantly due to reason above.

[2019-09-24 11:13] roderickhodgson commented on #5
Hello. Joining the conversation to find out if there's any more news on support for Swift 5.1, now that Xcode 11 has been released?

Thanks!

[2019-09-24 11:17] zeusent commented on #5
Yup, version 1.1.1 should do the trick

[2019-09-24 11:24] roderickhodgson commented on #5
Thanks zeusent. I didn't look closely enough, I thought I had already updated to 1.1.1, but a podspec had kept me at 1.0.1 and I didn't notice. Thanks.

[2019-09-24 19:43] cgmaier commented on #27
hey @shial4 thanks for bringing this to our attention. we haven't been able to repro on our end unfortunately - could you provide some more details about when this happens and what device / simulator you're seeing this on?

in the meantime, we pushed a hopeful fix for this in [v1.1.2](https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/1.1.2), which removes the [fatal error](https://dev

[2019-09-24 21:52] shial4 commented on #27
I haven't been able to reproduce it myself, however, we do use Giphy now in our production app. Application was crash free, after introducing Giphy it dropped to 70% now.

The error message above is what we have captured alone with:
[code]
and
[code]

or second capture
[code]

The last one have majority in number of crashes now.
Please notice that crash is in regard to developer [Giphy SDK](https:

[2019-09-25 15:06] cgmaier commented on #27
hey @shial4 hopefully the patch solves your issue 🙏

just to be sure - are you following this best practice ?
_Create a new GiphyViewController every time you want to show GIPHY (maintaining a reference to the same GiphyViewController object isn't necessary and can impact performance, and lead to unexpected results)_

btw for future reference, the latest & greatest docs will always be here:
https:

[2019-09-25 16:58] AlexClarkQP commented on #17
I'm happy to report I got my environment working again with the latest XCode and it's working! Thank you again for all your help.

[2019-09-25 21:59] shial4 commented on #27
@cgmaier Thanks for your concern. We are following best practice.
Anyway, will keep you posted.

[2019-09-26 09:51] KiranDhokale8118 opened #28 "The Library Not working on Swift 5.0"
Hello , I am using it but it cannot work on Swift 5.0 , Please provide the solution

[2019-09-26 13:38] cgmaier commented on #28
hey @KiranDhokale8118 we no longer support Swift 5.0 - please update to the latest Xcode 11

[2019-09-26 17:11] #22 closed

[2019-09-26 17:12] cgmaier commented on #17
thanks for following up on this @AlexClarkQP !! gonna close

[2019-09-26 17:12] #17 closed

[2019-09-26 19:13] landnbloc opened #29 "didDismiss not being called when "swiped down""
When the ui resize bar right above the search bar is swiped down causing the view controller to go away for some reason "didDismiss" is not called. Is there another method I should be implementing? I'm using an Iphone 11

[2019-09-26 20:26] cgmaier commented on #29
hey @landnbloc thanks for catching this - will let you know we fix it! hopefully not a blocker for you.

[2019-09-27 00:19] landnbloc commented on #29
hey @cgmaier thank you!

[2019-09-27 20:16] timurbeg opened #30 "Channel feed/list in search results"
Original GIPHY app has horizontal channel feed(between GiFs/Stickers/Text segment control and collection view) as a part of search results.
But GPHListMediaResponse object doesn't contain any channel related data.
Is there separate API call for the channel list?
Is it possible to include channels array into search API response?

[2019-09-27 20:29] cgmaier commented on #30
hi @timurbeg good question.  unfortunately channel-related APIs are not publicly available - we reserve channel search for the GIPHY app : )

sorry we can't help in this case

[2019-09-28 04:54] h36ahmed opened #31 "I keep getting this warning with Carthage Kit"
warning: /Users/chrismaier/Library/Caches/org.carthage.CarthageKit/DerivedData/11.0_11A419c/giphy-ios-sdk/2.1.4/ModuleCache.noindex/PURJ2OO6CDH7/Foundation-3DFYNEBRQSXST.pcm: No such file or directory
![image](https://user-images.githubusercontent.com/13081913/65811701-7f5c4280-e18a-11e9-9e28-ae7fdb52d55d.png)

[2019-09-30 02:48] h36ahmed commented on #31
And I use CocoaPods not Carthage.

[2019-09-30 14:10] cgmaier commented on #28
i'm gonna go ahead and close this @KiranDhokale8118

[2019-09-30 14:10] #28 closed

[2019-09-30 14:15] cgmaier commented on #31
hey @h36ahmed that's odd! we'll look into it. are you seeing this on the latest version of the GIPHY SDK (v1.1.2)? in which version did you start seeing in the warning?

we use Carthage for compiling the SDK.

[2019-09-30 16:04] h36ahmed commented on #31
I started seeing since v1.1. I am using 1.1.2 now.

[2019-10-01 10:56] KiranDhokale8118 opened #32 "Video Edit"
Please provide the demo to add the giphy on video and also after export the video it must contain the Giphy with animatable as we added previously.

[2019-10-01 15:17] zeusent commented on #31
Me too. I see a lot of these:

[code]

Maybe the notes in there is of some help?

[2019-10-01 15:27] cgmaier commented on #31
thanks @h36ahmed / @zeusent ! sorry about the big warnings - we'll definitely fix with the next release.

[2019-10-01 15:38] cgmaier commented on #32
hey @KiranDhokale8118, we don't have sample code for this use case unfortunately.

there's a lot of ways to go about adding stickers / gifs to videos. You can also learn about SceneKit / AVFoundation (Apple APIs). I'm also big fan of GPUImage3.

sorry we can't help more with this ! good luck

[2019-10-01 15:38] #32 closed

[2019-10-05 05:49] fkhasib opened #33 "Apple would reject apps with SDK using UIWebView"
we get this error from Apple for using Giphy iOS sdk, can you please update to  WKWebView so we can stay in compliance?

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information. | ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that

[2019-10-07 14:43] cgmaier commented on #33
hey @fkhasib thanks for reaching out. what leads you to believe the GIPHY SDK is the source of this issue? I've searched through the codebase and don't see any references to `UIWebView`

[2019-10-07 15:15] fkhasib commented on #33
@cgmaier Thank you for responding, I ran the following command and I got this as a result that comes from Giphy iOS sdk, other than we got this error only after adding Giphy sdk
`nm myapp | grep UIWeb
for framework in Frameworks/*.framework; do
  fname=$(basename $framework .framework)
  echo $fname
  nm $framework/$fname | grep UIWeb
done
`
see the result

<img width="746" alt="Screen Shot 2019-0

[2019-10-07 15:41] cgmaier commented on #33
this is super helpful. thanks @fkhasib !
to clarify, did Apple entirely block you from submitting, or was it just a warning?

[2019-10-07 15:45] fkhasib commented on #33
@cgmaier I am pretty familiar with their warnings, but unlike the warning they provide this one seems a blocker, we still havent submitted our app but the language as you can read is clear regarding this, my assumption is all this after iOS 13 release
ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documenta

[2019-10-07 15:47] cgmaier commented on #33
thanks so much for flagging this @fkhasib! this must be new. we're going to try to get a release out with a fix asap

[2019-10-07 15:49] fkhasib commented on #33
@cgmaier I can confirm its new, as I had the sdk for a month and it showed up two weeks ago, Thank you for taking care of this, looking forward!

[2019-10-07 18:20] cgmaier commented on #27
hey @shial4 do you have any update on this?

[2019-10-07 20:52] cgmaier commented on #33
hey @fkhasib ! hoping [v1.1.3](https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v1.1.3) will fix this issue.

[2019-10-07 20:52] cgmaier commented on #31
hey @h36ahmed / @zeusent sorry for the delay on this. this should be fixed now with [v1.1.3](https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v1.1.3)

[2019-10-07 20:53] cgmaier commented on #29
hey @landnbloc this should be fixed now with [v1.1.3](https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v1.1.3)! thanks again for your help pointing this out.

[2019-10-07 21:01] zeusent commented on #31
Thanks @cgmaier! I’ll give this a shot

[2019-10-07 21:08] fkhasib commented on #33
@cgmaier thank you so much, I will update you as soon its available at cocoa pods, probalbly later tonight or early morning! thanks for the quick turn around

[2019-10-07 21:12] zeusent commented on #31
@cgmaier I still see the warnings unfortunately :(

[code]

[2019-10-07 21:15] cgmaier commented on #31
ah okay - thanks for testing @zeusent ! I haven't actually been able to repro on my machine, but thought disabling module debugging might do it. i'll take another look at this

[2019-10-07 21:18] zeusent commented on #31
I didn't actually updated 1.1.3 the first time @cgmaier. Here's an updated log:

[code]

[2019-10-07 22:32] fkhasib commented on #33
@cgmaier I can confirm, that release fixed the issue, thanks for the quick release!

[2019-10-07 22:32] #33 closed

[2019-10-07 22:42] shial4 commented on #27
Look like the crash numbers went down, however, I just did upload symbols. We should know shortly :)

[2019-10-07 22:53] shial4 commented on #27
Looks good. Crashes are gone. Thank you @cgmaier

[2019-10-07 22:53] #27 closed

[2019-10-07 23:55] cgmaier commented on #33
thank you @fkhasib !!

[2019-10-07 23:57] cgmaier commented on #27
Amazing, thanks @shial4 !

[2019-10-08 00:24] landnbloc commented on #29
Awesome! appreciate it. Working well except when it's dismissed in this fashion and reopened the trayHeightMultiplier seems to be cut in half and gets progressively lower

[2019-10-08 21:00] h36ahmed commented on #31
Having the same issues still

[2019-10-09 02:39] landnbloc commented on #29
I was using the same instance, thanks for your help

[2019-10-09 02:39] #29 closed

[2019-10-11 17:23] timurbeg commented on #31
We are still seeing below warnings in the latest version of Giphy 1.1.3:
warning: /Users/chrismaier/Library/Caches/org.carthage.CarthageKit/DerivedData/11.0_11A420a/giphy-ios-sdk/2.1.7/ModuleCache.noindex/3EVHOM4AIXCNF/Foundation-3DFYNEBRQSXST.pcm: No such file or directory
note: while processing /Users/chrismaier/Library/Caches/org.carthage.CarthageKit/DerivedData/11.0_11A420a/giphy-ios-sdk/2.1.7

[2019-10-11 20:59] cgmaier commented on #31
hey all - really sorry about the delay on this. i'll advocate for it to be a priority for next week. thanks for all the great feedback.

[2019-10-21 16:26] cgmaier commented on #31
hey all - oddly enough, nobody on our iOS team here can reproduce the warnings, and so I'm not sure what to do in order to fix it. I disabled "module debugging" with the last release though that hasn't seemed to fix the issue for you guys.

i was wondering if it has to do with a Cocoapods version.  I'm on the latest (`1.8.4`), but also couldn't repro the warnings before i updated (from `1.7.1`, i

[2019-10-21 16:50] zeusent commented on #31
I’m running the latest version of Cocoapods as well... I don’t have Cartage installed at all. Since I’m seeing something related to it in the warnings maybe that could have something to do with it?

[2019-10-21 18:22] cgmaier commented on #31
dang ! @zeusent i just tried uninstalling carthage & all of its folders & still not able to repro. i imagine youre also on the latest version of xcode? are you using swift?
would you also mind doing a fresh install of GIPHY via:
[code]

if it's not too much trouble !

[2019-10-21 22:30] timurbeg commented on #31
@cgmaier  I've tried fresh install. But I'm still seeing warnings + there is a warning on "import GiphyCoreSDK" - Implicit import of bridging header 'GiphyCoreSDK-Bridging-Header.h' via module 'GiphyCoreSDK' is deprecated and will be removed in a later version of Swift:
warning: /Users/chrismaier/Library/Caches/org.carthage.CarthageKit/DerivedData/11.0_11A420a/giphy-ios-sdk/2.1.7/ModuleCache.noind

[2019-10-22 00:16] lichen19853 opened #35 "Add non-framework support"
Can we please support non-dynamic-framework mode in the podfile?

Basically, my project relies on
- GiphyUISDK: which requires use_frameworks!
- React Native Firebase and bunch other frameworks: which don't work well with use_frameworks!

Wondering if GiphyUISDK can work without use_frameworks!? To repro the issue, remove use_frameworks! from Podfile and do pod install, you'll see an build error:

[2019-10-22 16:30] cgmaier commented on #35
hey @lichen19853 ! you're using the SDK with react native? we've been wondering how that'd work.

i'm not sure what you mean by _Wondering if GiphyUISDK can work without GiphyUISDK?_

I'm pretty sure that GiphyUISDK doesn't require the `use_frameworks` flag - it's just the `PINCache` dependency which needs it.

[2019-10-22 19:23] lichen19853 commented on #35
Thanks @cgmaier . Apologize for the typo, I meant:
"Wondering if GiphyUISDK can work without use_frameworks!?"

So my project uses CocoaPods.
- GiphyUISDK requires use_frameworks flag since its dependency PINCache requires it
- A bunch other pods (mostly React Native pods) doesn't work with use_frameworks flag

As a result, in my project's Podfile, I can't include GiphyUISDK together with other de

[2019-10-22 21:48] cgmaier commented on #35
gotcha! that makes more sense. this seems tricky but hope to have some time to look into it soon

in the meantime, if you can you install PINCache via Cocoapods without the `use_frameworks!` flag and tell me what happens, that'd be a huge help. would be great to verify this is an issue with PINCache  or with the GIPHY SDK

thanks for making us aware oof this issue

[2019-10-22 21:55] cgmaier commented on #31
ah I've finally repro'd. looks like it happens when actually _archiving_ a build rather than just running. is this the same for you? do these warnings prevent you from successful submission?

[2019-10-22 22:02] timurbeg commented on #31
Nope. It doesn't. I just want to keep project clean. Maybe in future you will be able to fix it or this issue will be gone itself... Anyway thanks.

[2019-10-22 22:21] lichen19853 commented on #35
Thanks for the quick response.

- I tried including PINCache in Podfile without use_frameworks flag. pod install worked, but project failed with the same error:
Module 'PINCache' not found

- I created a fork to help you see the error
https://github.com/lichen19853/giphy-ios-sdk-ui-example

- Many large projects relied on bunch of dependencies, and they couldn't include use_frameworks flag, thus t

[2019-10-23 08:45] zeusent commented on #31
Hey @cgmaier! First, let me say thanks for putting time and effort into this. As @timurbeg said this doesn't seem to affect submission. It's rather trying to clean up the project and not have a handful of warnings on compile time. For me it's happening when debugging as well but I guess as long as you've managed to reproduce it in someway it's a sign your on the right track. If I could do anything

[2019-10-23 17:33] SolorzanoJose opened #36 "Getting image from PINCache"
Having to download the data from the media URL after successfully picking a gif is a painful UX.

I'd like to know what key you're using to cache media through PINCache that way I can just fetch it myself and avoid having to download the file data.

Thanks

[2019-10-24 00:55] lichen19853 commented on #35
@cgmaier Before we can go without `use_frameworks!` flag, is there a way we can integrat GiphyUISDK without podfile?

[2019-10-24 05:55] mdescalzo opened #37 "Add Carthage support"
I have some projects already using Carthage in which I'd like to use the Giphy framework.  Could you please look into adding Carthage support?

[2019-10-24 14:08] cgmaier commented on #36
hey @SolorzanoJose thanks for the feedback

if you want to grab the image that's already loading in the grid, you can do the following:
[code]
you can also set a `GPHMedia` directly on a `GPHMediaView` like so:

[code]
let me know if this helps! maybe should add to the documentation

[2019-10-28 16:46] annaharri89 opened #38 "GiphyCoreSDK.GPHMedia aspectRatio"
We are getting a crash when we try to access a media's aspect ratio. We are using version 1.1.0 Has this bug been fixed in version 1.1.1? We can't upgrade to that version at the moment because we are not able to upgrade to Xcode 11 (we have a deprecated dependency that can't run on Xcode 11). Is there anything we can do to fix this bug on version 1.10?

[2019-10-28 18:16] cgmaier commented on #38
hey @annaharri89 thanks for reaching out !

we've actually fixed a number of things since 1.1.0, any chance you can upgrade?

i don't see how simply accessing the `GPHMedia`'s aspect ratio would cause a crash. are you seeing that it is returning 0's and that's in turn causing a crash somewhere else in your code? more info on this would be helpful !

do you recall my answer to the last issue you op

[2019-10-28 18:18] cgmaier commented on #37
hey thanks for reaching out ! i noted this request to my team - hopefully we can get to this at some point

[2019-10-28 18:21] cgmaier commented on #36
Gotcha! can you try accessing the `GiphyYYImage`'s data via `animatedImageData` property ?

[2019-10-28 18:29] cgmaier commented on #36
(sorry i replied without fully processing your comment)

that's a good question - i'm honestly not sure why that wouldn't work. perhaps `PINCacheAnimatedImage` doesn't support the `webp` format?

also curious about your concern about using `GiphyYYImage`?  `GiphyYYImageView` should be nice n performant and doesn't have any GIPHY branding on it

[2019-10-28 19:17] annaharri89 commented on #38
<img width="578" alt="image" src="https://user-images.githubusercontent.com/16767360/67709844-2bb16480-f995-11e9-9336-fae39d3eb1c6.png">
The highlighted line of code is where it crashes

And this is the crash
<img width="553" alt="image" src="https://user-images.githubusercontent.com/16767360/67709893-47b50600-f995-11e9-9ccf-21e06a57db82.png">

I do remember your answer, and we've actually impleme

[2019-10-28 19:30] cgmaier commented on #38
gotcha, that's weird. anyway can you try:
[code]

as an alternative way of obtaining the image dimensions

[2019-10-28 20:07] annaharri89 commented on #38
@cgmaier

That fixed the crash, but now the sent gifs are not loading and the gif picker has these rainbow loading dots permanently,  no gifs load in the gif picker. Do you know why that would be happening?

[2019-10-28 20:10] annaharri89 commented on #38
Is it because we're on an old version?

[2019-10-28 21:00] cgmaier commented on #38
hmm that's odd, is it possible it's a connection issue?

[2019-10-28 21:20] SolorzanoJose commented on #36
@cgmaier I'm using texture in my app, using something ImageView based would neglect the benefits

I tried .gif format but it still doesn't work, looks like the main gif libraries including SwiftyGif cannot use the data we get from this method (animatedImageData)

I basically just want the raw gif data that I can use myself

[2019-10-28 21:30] cgmaier commented on #36
ah hmm, are you seeing that `animatedImageData` at least contains data and is not empty / nil?  i'm not too familiar with Texture. `GiphyYYImage` is based on [YYImage](https://github.com/ibireme/YYImage)

[2019-10-28 21:59] SolorzanoJose commented on #36
Yup, the data is not empty or nil but it isn't working with other mainstream gif libraries, I will take a look at that library but it seems it does something internally that modifies the gif data

[2019-10-28 22:06] SolorzanoJose commented on #36
Hmmm is YYImage not included in the dependencies for the SDK? I'm not able to import it (I used the SDK through cocoapods), this is really complicated to debug closed source

[2019-10-28 22:37] SolorzanoJose commented on #36
I'm closing this because I found a way around it.

[2019-10-29 00:51] SolorzanoJose commented on #36
Reopening this real quick for a last question.

@cgmaier adding unit tests to this is kinda complicated cause everything is private and of course its closed source but I have one question that maybe you can help me with:

What triggers the selection of a gif in the collection view?

I tried triggering selectItem(at: IndexPath) but that's not really working, is it a tap in a subview of the cell? th

[2019-10-31 09:41] Drusy commented on #37
Carthage support would be great !
In the meanwhile, do you provide the compiled frameworks outside of Cocoapods ?
We do not wish to include Cocoapods for a single framework unfortunately

[2019-10-31 18:30] cgmaier commented on #37
hey @Drusy, @mdescalzo and anyone else !

please email sdk@giphy.com with the name of your app and your requests - this could help loop in our SDK partnerships team about the importance of having method of integrating the SDK (alternative to cocoapods) so we can better prioritize it. they also always like to be connected with teams & apps who want to use GIPHY : )

i of course to hope to get to th

[2019-10-31 21:13] wvdk opened #39 "Update for Swift 5.1.2"
Cannot build with the Giphy pod on Xcode Version 11.2 (11B52)

<img width="649" alt="Screen Shot 2019-10-31 at 2 12 33 PM" src="https://user-images.githubusercontent.com/13443286/67986534-80005280-fbe8-11e9-839d-f944a2c8bd8a.png">

[2019-11-01 00:57] zeusent commented on #39
I have the same issue :( Is this going to be a blocking thin every time Xcode get's updated?

<img width="571" alt="Screenshot 2019-11-01 at 02 56 44" src="https://user-images.githubusercontent.com/777591/67995477-431d7580-fc53-11e9-909c-5b2859fb7ad7.png">

[2019-11-01 02:15] hanjinghe commented on #39
I also have the same issue. I really need new version fixed issue for publishing to users ASAP

[2019-11-01 10:02] zeusent commented on #39
Since Swift 5 was supposed to fix these kind of issues I was intrigued why we see this. I think I found the answer here:

https://stackoverflow.com/a/58656323/831838

Maybe this is something that can be done for Giphy as well? Right now my project is broken because of it and I have to explain to my employer that there's nothing I can do until a new update for Giphy is being released. If we could g

[2019-11-01 13:18] cgmaier commented on #39
hey i'm really sorry for the trouble - going to get a fix out ASAP and do my best to make sure this doesn't happen again

[2019-11-01 13:19] zeusent commented on #39
Nice @cgmaier ! Your quick replies and actions are most welcomed as always! Thanks a lot!

[2019-11-01 14:56] cgmaier commented on #39
hey so i'm having some trouble getting the update `1.1.6` via `pod update` for some reason. i successfully submitted the update to Cocoapods via `pod trunk push` - i wonder if there's a bit of a delay though it's always been pretty quick in my experience. i'll keep on trying and troubleshooting.
 in the meantime you can get the latest version by explicitly referencing the podspec location explicit

[2019-11-01 15:07] cgmaier commented on #39
ah sorry it should be `1.1.5`
https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/1.1.5/Giphy.podspec

[2019-11-01 15:13] zeusent commented on #39
Yup, that did it! Awesome! I'm unblocked, awesome! 👍

[2019-11-01 15:15] cgmaier commented on #39
okay, great. so weird that there was such a long delay before `pod update` got the latest version.

i'll keep you updated on the swift version compatibility here & hopefully push another release later today.

[2019-11-04 10:52] Drusy commented on #37
Hey @cgmaier,

Thanks for the links, it will help us for now. We can pull `DeepDiff` and `PINCache` from Carthage as they are fully compatible. `libwebp` is a bit more complicated for now and we need to script the framework compilation.
Some library are compatible with Carthage but seem to include `libwebp` as a submodule and compile it right in the project I guess. Here is an example https://gith

[2019-11-05 16:30] cgmaier commented on #36
hey @SolorzanoJose sorry for the late reply. that's correct - we respond to a tap gesture in the cell. I'm not sure if you can properly hook into this but we can consider exposing this function as public in a future release for the purpose of supporting unit tests.

[2019-11-05 16:33] cgmaier commented on #37
Thanks @Drusy !

[2019-11-05 17:10] mdescalzo commented on #37
@cgmaier Thanks!  I'll look at the links when that facet of the project circles back to it.  There's no linkable app just yet.  We're still in development.

[2019-11-05 22:37] zeusent opened #40 "Turn off auto correct on the search field in the GiphyViewController?"
So I want to turn off auto correct on the search field in the GiphyViewController (mostly because I'm running some UITests to generate some screenshots and the empty prediction bar looks so damn ugly). But I'm not sure how to go about that. I've tried "crawling" the current view hierarchy after presenting the GiphyViewController and I've managed to find the text field. But setting that property *a

[2019-11-05 22:51] zeusent commented on #40
Oh, never mind... I ended-up doing this:

[code]

I guess another good thing for UITesting would be if the search field had an `accessibilityIdentifier` so that we could refer to it more precisely

[2019-11-05 22:51] #40 closed

[2019-11-06 01:45] codeplotter opened #41 "Compile error Swift 4.2"
I have Xcode 11.2 and just installed the pod.  I initially had an error where it could not find GIPHYUISDK in the screen controller file when I was importing it.  Please note that this is a keyboard extension inside a wrapper app.  After adding $(SRCROOT) to the framework search paths for project and targets, now the compiler is giving the error:

"<unknown>:0: error: missing required module 'OMSD

[2019-11-06 01:48] codeplotter commented on #41
<img width="748" alt="Screen Shot 2019-11-05 at 7 46 37 PM" src="https://user-images.githubusercontent.com/25725009/68261271-2a231480-0005-11ea-8bec-b57466e726f4.png">

[2019-11-06 15:48] cgmaier commented on #41
hey @codeplotter the GIPHY UI SDK won't work inside extensions

[2019-11-11 16:14] cgmaier commented on #39
a bit of an update if anyone is concerned - i've fixed this issue in GIPHY SDK but still waiting on the DeepDiff dependency to push a release with this fix

https://github.com/onmyway133/DeepDiff/issues/51

[2019-11-19 02:03] wvdk commented on #31
I'm also getting these warnings. Not prohibiting development or release but I would love to see a fix for this. Kinda makes our No Warnings policy feel silly. Folks seem to think if there are already a bunch of warnings in the project they don't need to clean up their new ones :P

[2019-11-19 22:56] kriglz opened #42 "Compiler Warning"
<img width="1061" alt="Screen Shot 2019-11-19 at 2 55 23 PM" src="https://user-images.githubusercontent.com/28742724/69193926-c60c5000-0adc-11ea-8c1e-d141ba1cc7ae.png">

[2019-11-20 06:55] codeplotter opened #43 "Giphy Core SDK"
I am having a problem where I can't compile after installing the Giphy Core SDK pod.  I am using that SDK because in #41 I was told the full SDK would not work in keyboard extensions.  I am working on CapGenius and we want to integrate Giphy into our keyboard.  Here is the message I am getting:

<img width="723" alt="Screen Shot 2019-11-20 at 12 53 35 AM" src="https://user-images.githubusercontent

[2019-11-26 09:03] ravi-devstree commented on #36
@SolorzanoJose Please post your solution so others can use it.

[2019-11-26 09:04] ravi-devstree commented on #36
Please post your solution so others can use it.

[2019-12-02 21:37] EmperiorEric commented on #31
We are seeing this issue as well. It doesn't specifically prohibit development, but it makes it impossible for us to treat warnings as errors.

[2019-12-04 19:36] cgmaier commented on #31
hey guys thanks so much for using the UI SDK & noting this as something you care about ! we really want to work on this. I hope we can get this done before the holidays.

another priority is achieving Swift compatibility so we don't have to push a new release whenever a new version of Swift is released - unfortunately this has proven a bit trickier than expected and so that aspect of things may ne

[2019-12-05 20:44] drewolbrich commented on #43
Try this:
[code]
Make sure you are using a newer version of the Giphy SDK, like 1.1.6, and not an older version, like 1.1.2.

[2019-12-06 01:01] codeplotter commented on #43
I ran "pod update GiphyCore" but had no change.  Please note that I am not using the full Giphy SDK since this is a keyboard extension, as mentioned above.

It looks like the command I was originally told to use is installing 1.0.1 of the GiphyCore SDK.  Is there a newer version of that?

[2019-12-09 18:27] cgmaier commented on #31
hey ! i just pushed an update, v1.1.7, which should solve most of these warnings caused by the GIPHY SDK.

[2019-12-09 18:36] cgmaier commented on #42
hi @kriglz thanks for opening this issue : ) can you please let me know if this warning is still present in the newly released 1.1.7?

[2019-12-09 18:49] #38 closed

[2019-12-09 18:56] cgmaier commented on #35
hey @lichen19853 sorry about such a long delay on this. I just removed tried removing the `use_frameworks!` flag, and was able to successfully build. can you give it a try?

[2019-12-09 19:05] cgmaier commented on #43
hey @codeplotter really sorry about all the confusion!

I believe someone from our team has been in touch with you, as the extension use case isn't covered by the UI SDK, and you have may been sent some out of date docs. I believe that's all been (hopefully) resolved or will be soon!

Because you're not going to be using the UI SDK going forward, please direct future questions / issues directly to

[2019-12-09 19:05] #43 closed

[2019-12-09 19:06] #41 closed

[2019-12-09 19:39] kriglz commented on #42
Hi @cgmaier, it's not present anymore. Thanks :)

[2019-12-09 20:02] wvdk commented on #31
Nope, doesn't fix the warnings we are reporting in this ticket. It has something to do with Carthage and your personal DerivedData directory.

[code]

[2019-12-09 20:36] cgmaier commented on #31
confirmed, they're still there. sorry about that.

[2019-12-11 22:47] drewolbrich commented on #31
I'm seeing this too, although I am still on 1.1.6 and I just noticed that 1.1.7 was released. I'll try it now.

(1.1.6 screenshot)
![Screen Shot 2019-12-11 at 11 27 50 AM](https://user-images.githubusercontent.com/12141562/70667115-f69b6180-1c24-11ea-8080-e93dd7a95d05.png)

[2019-12-11 22:52] drewolbrich commented on #31
Using Cocoapods, I am still seeing the /Users/chrismaier Carthage warnings with Giphy 1.1.7.

![Screen Shot 2019-12-11 at 2 50 57 PM](https://user-images.githubusercontent.com/12141562/70667415-ac66b000-1c25-11ea-9694-c185d2abcc6b.png)

[2019-12-11 22:53] drewolbrich commented on #31
@cgmaier btw thanks for providing the Giphy SDK. It has been a pleasure to use and has saved me a huge amount of development time on our project. 😄

[2019-12-12 19:53] #42 closed

[2019-12-12 21:11] cgmaier commented on #31
thanks @drewolbrich @wvdk

these warnings have been quite persistent! i did a deep dive into Xcode build settings the past few days and I'm fairly certain these are gone once and for all with GIPHY 1.1.8

[2019-12-12 21:17] cgmaier commented on #35
hey @lichen19853 I just tested this again with v1.1.8 and was able to successfully build without `use_frameworks!`

i'm going to go ahead and close this, but please reopen or create a new issue if you find omitting that flag leads to issues

[2019-12-12 21:17] cgmaier commented on #42
thank you for confirming @kriglz !

[2019-12-12 21:18] #36 closed

[2019-12-12 21:19] #30 closed

[2019-12-12 22:33] wvdk commented on #31
Can confirm - only warnings are my own fault. Thank you @cgmaier!

[2019-12-13 00:36] drewolbrich commented on #31
@cgmaier thank you Christopher you are awesome !!!

![Screen Shot 2019-12-12 at 4 35 28 PM](https://user-images.githubusercontent.com/12141562/70760123-86acda00-1cfd-11ea-9131-c97506d1fcc9.png)

![dancing-geometry](https://user-images.githubusercontent.com/12141562/70760109-73017380-1cfd-11ea-9c0e-b67c18e75b74.gif)

[2019-12-13 10:15] ammerzon commented on #37
I also gave the SDK a try with Carthage. I added all the required dependencies to my Cartfile and downloaded the Giphy framework as you can see below. For `libwebp` I used a wrapper from SDWebImage.

**Cartfile.resolved**
[code]
[GiphySDK 1.1.5](https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/1.1.5/GiphySDK.zip)

**Carthage build phase**
<img width="916" alt="Screenshot 2019-12-13 at 11 05 01" s

[2019-12-14 19:37] AlexClarkQP commented on #39
I just tried to integrate the API into my new product and I'm also getting "Module compiled with Swift 5.1 cannot be imported by the Swift 5.1.3 compiler". I notice the last comment was a month ago. Is there any update for this (I hope because this API is awesome)?

[2019-12-16 16:05] cgmaier commented on #39
hey @AlexClarkQP what version of the SDK are you on?

you can see the latest releases here:
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases

[2019-12-16 16:17] cgmaier commented on #37
hey @ammerzon - we're looking at officially supporting carthage in the coming year

in the mean time, i think you might have look try adding an additional entry in input files:

`...iOS/GiphyCoreSDK.framework/omsdk-ios-1.2.20-Giphy/OMSDK_Giphy.framework`

and in output files:
`...$(FRAMEWORKS_FOLDER_PATH)/OMSDK_Giphy.framework`

have no idea if this will work, but worth a try. let me know either w

[2019-12-16 17:41] ammerzon commented on #37
That is great to hear 🎉

<img width="1114" alt="Screenshot 2019-12-16 at 18 35 42" src="https://user-images.githubusercontent.com/7319168/70929324-2be3ed00-2033-11ea-8242-50485d90cc58.png">

Unfortunately, it now complains that the bundle format is unrecognized, invalid, or unsuitable.

[2019-12-16 19:13] cgmaier commented on #37
could you try `GiphyCoreSDK.framework/Frameworks/OMSDK_Giphy.framework` instead?

[2019-12-16 19:19] cgmaier commented on #39
@AlexClarkQP swift compatibility has proven tricky unfortunately - it's a goal for the start of the new year. in the meantime i can ensure i'll always make sure the latest Xcode is supported

however, i have verified the latest version of the SDK `v1.1.8` (actually compiled with Swift 5.1.2 i believe) supports the latest Xcode 11.3. just run `pod update` to get the latest

[2019-12-16 20:03] AlexClarkQP commented on #39
Perfect, I was using a beta version of Xcode but if you'll always support the latest then I'll try not to get ahead of things. I tested on the non-beta and all good. Thank you!

[2019-12-16 20:14] ammerzon commented on #37
I also tried that but it leads to the same result as above.

[2019-12-16 22:21] cgmaier commented on #39
As a test, I just built the SDK with the Xcode 11.1 command line tools (Swift 5.1), and was able to install and run the resulting SDK framework in Xcode 11.3 (Swift 5.1.3), so I'm hoping we've achieved module stability as of Giphy v1.1.8. However, I did notice that it was necessary to include the `use_frameworks!` flag in the Podfile.

When you commented, you mentioned Swift 5.1 which leads me to

[2019-12-16 22:23] cgmaier commented on #37
hmm maybe a framework search paths thing (in build settings?)

sorry i can't be of more help here

[2019-12-16 22:29] AlexClarkQP commented on #39
Yes, entirely possible since I’ve tried quite a few things and got a little lost in the process. 

[2019-12-16 22:34] AlexClarkQP opened #44 "SwiftUI Example"
Do you have any documentation for SwiftUI integration? Specifically I’d like to show the GiphyViewController in sheet but it’s showing a sheet within a sheet which looks a little awkward.

Here's the code I have so far:

[code]

and in my view:

[code]

[2019-12-16 22:46] cgmaier commented on #39
gotcha! well since i'm confident that we're good for future versions (and certainly good for swift 5.1.2 which this issue points out), i'm going to ahead and close this issue. obviously if a new Xcode / Swift version breaks thing we'll push an update as quick as possible.

[2019-12-16 22:46] #39 closed

[2019-12-16 23:03] cgmaier commented on #44
hey @AlexClarkQP i'm actually not sure ! have not yet explored it

https://developer.apple.com/tutorials/swiftui/interfacing-with-uikit
you can't find the answer here?

[2019-12-16 23:46] AlexClarkQP commented on #44
The interfacing with UIKit is fine. I think it's more an issue with how GiphyViewController presents itself. It appears to present itself in a tray over an existing view (rather than just being the entire view). So if you present it over your entire app it looks fine. However, if you present it in a sheet (the new preferred modal style in iOS 13) it looks odd. I've attached a screenshot. I was won

[2019-12-20 05:25] krishnagniyes opened #45 "Getting compilation Errors on Xcode 11."
Getting compilation Errors on Xcode 11, but it's working fine on Xcode 11.2

###Please find attached screenshots:

<img width="642" alt="Screen Shot 2019-12-19 at 9 17 45 PM" src="https://user-images.githubusercontent.com/1003632/71232255-14f90100-22a6-11ea-9354-0d3bb57fde36.png">
<img width="565" alt="Screen Shot 2019-12-19 at 9 17 38 PM" src="https://user-images.githubusercontent.com/1003632/712

[2019-12-20 05:41] krishnagniyes commented on #45
Seems v1.1.3 is working on xcode 11. But I've one more question, What is the size of this framework? I was not able to find it.

Please do the needful.

Thanks
Krishna

[2019-12-20 19:17] cgmaier commented on #45
hi @krishnagniyes ! we've improved the GIPHY SDK quite a bit since v1.1.3 and so highly recommend you upgrade to the latest version of Xcode so you can use the latest version of GIPHY.

we've also achieved module stability with the latest version of the GIPHY SDK (v1.1.8), and so it should be compatible with all future versions of Xcode.

I'm not certain what the exact footprint is of the SDK is o

[2019-12-20 20:26] krishnagniyes commented on #45
@cgmaier, Thanks for the prompt response. Is there a way if we can customize GiffyViewController? Specially collection view from 2 columns to 3 columns?

[2019-12-22 09:54] JianwenYan opened #46 "Question For ExampleObjectiveC"
I simplely add a previewView(GPHMediaView) to show after select, but it was no use after my selected.

[code]

[code]

[2019-12-24 16:01] ancloid commented on #46
Same issue, media.images.original.width and media.images.original.height is 0
Why?

[2020-01-03 21:51] krishnagniyes opened #47 "How to modify GiphyGridController?"
I'm looking to modify the number of columns (to 3), cell size (to square), and cell contentMode (to aspectFit).

What's the best way to make these modifications to GiphyGridController?

[2020-01-06 16:00] #45 closed

[2020-01-06 18:01] krishnagniyes commented on #25
@cgmaier I also need to provide similar feature in my project. Do you have any updates on this?

[2020-01-08 16:26] MarcoCadei opened #48 "Modify searchbar"
Hi,

is it possible to customize the search bar?
I would need this in order to let the view controller integrate better with the overall app ui

[2020-01-08 16:49] itzaks opened #49 "Swift Package Manager support"
Hi!

Any plans for making this available as SPM?

Cheers

[2020-01-12 16:28] alexmomotiuk opened #50 "Methods publicly accessible"
Why the search and trending functions are not publicly accessible now ?

[2020-01-13 19:05] cgmaier commented on #50
hey @alexmomotiuk ! We're making some changes to how the SDK is structured. Our long term goal is to serve all users of the SDK via our UI components, which we hope will ultimately be flexible enough to handle the vast majority of use cases.

Feel free to reach out to sdk@giphy.com with the name of your app and they can work with you to find the best solution for you.

[2020-01-13 20:39] cgmaier commented on #49
hey @itzaks! it would be great to support SPM at some point, though we currently have no plans to do so. I'll take note of your request with my team and get back to you if anything changes.

[2020-01-13 20:46] cgmaier commented on #46
hey @JianwenYan sorry for the late reply on this. Were you able to find a working solution?

I believe the issue might be with the `GPHRenditionTypePreview` setting. It's likely better to choose `GPHRenditionTypeOriginal` for a high resolution rendition of the GIF, or remove the parameter altogether to go with what is chosen in the grid, which is smaller (also beneficial because that image is alre

[2020-01-21 23:31] krishnagniyes commented on #47
Any updates?

Thanks

[2020-01-22 19:28] cgmaier commented on #37
hey all ! sorry for the delay on this. think I've got distribution / installation through Carthage working. we'll hopefully "officially" release / document Carthage support soon but wanted to give you a chance to test it out first:

**Carthage Setup**

1. Add GiphySDK to your Cartfile:
[code]
2. Add `-Objc` to the `Other Linker Flags` Build Setting

3. Add `PINCache.framework`, `DeepDiff.framework

[2020-01-23 18:24] #50 closed

[2020-01-23 18:28] cgmaier commented on #49
hey @itzaks we looked into this and it turns out swift package manager doesn't support binary frameworks at the moment - only source code. from what I can see there is a lot of demand for this though, so hopefully some day !

i'm going to go ahead and close this cc @giorgia

[2020-01-24 09:21] Drusy commented on #37
Hey @cgmaier, thanks for your efforts.

The project compiles well with this integration. However, I can't make the UI framework work properly.
When I try to show a `GiphyViewController()`, I have the following error

[code]

I also tried to add a `GPHMediaView` to my view. I can easily get a media using `GiphyCore.shared.gifByID` but nothing is showing and I have no error log and `error` is nil in

[2020-01-24 16:55] cgmaier commented on #37
Hey @Drusy thanks so much for giving this a shot! My apologies - it looks like I wrote `-Objc` rather than `-ObjC` for the build setting. Adding `-ObjC` to `Other Linker Flags` should fix the crash you note. I'll work on making it not necessary to set this build setting in the future.

I'll look into the `GPHMediaView` issue and get back to you.

[2020-01-24 17:02] Drusy commented on #37
Sorry, I should have used the correct flag indeed ... The controller works like a charm. The `GPHMediaView` still appears to be broken.

[2020-01-24 18:01] cgmaier commented on #37
thanks for confirming ! it was my bad actually - i initially wrote the flag incorrectly.

re `GPHMediaView`, good catch - there's another issue with our documentation. simply setting the `media` property on the flag doesn't do anything. you must explicitly call `setMedia`. sorry about that! we'll definitely fix this and make that property only as a get

[2020-01-24 18:37] Drusy commented on #37
It works using `setMedia`

Definitely sounds like a good idea !

Congratulations, you seem to officially support Carthage !
The last step would be to submit a Testflight build to ensure that the archive process is fine.

Thanks for this feature 👏

[2020-01-24 20:00] cgmaier commented on #37
another good call @Drusy !

per your suggestion of testing archive / distribution, I noticed another issue - only two of the frameworks (`PINCache` and `DeepDiff`) should be included in the run script step, as the rest are static frameworks. I updated my previous comment which had the carthage setup instructions.

thanks for your help!

[2020-02-03 10:42] itzaks commented on #49
I see, thanks for informing!

[2020-02-19 13:15] blomqvistandreas opened #52 "'GiphyViewController' cannot be constructed because it has no accessible initializers"
Hello!
Have a bit of problem running the example code :(
I have xCode 11 and downloaded the project and reinstalled new pods.

The step that says...
"Create a new GiphyViewController, which takes care of most of the magic."
let giphy = GiphyViewController()

..is where the problem lands. It says 'GiphyViewController' cannot be constructed because it has no accessible initializers and I thought aft

[2020-02-20 13:02] jide commented on #35
I encountered the same issue, and was unable to build without `use_frameworks!`. I tried to add `pod 'PINCache'` to the podfile but got the same error.

Could you provide more details about how you did build without use_frameworks ?

[2020-02-21 15:43] alexanderkhitev opened #53 "How to get GiphyYYImage synchronously in 1.2.2 version?"
Hi everyone! Before we used this method for getting GiphyYYImage from cache

`guard let yyImage = GPHCache.shared.pinCache.object(forKey: cacheKey) as? GiphyYYImage else { return nil }
`

as I understand we can use completion handler in 1.2.2 version, but do we have opportunity to get GiphyYYImage synchronously?

Thanks!

[2020-02-24 12:07] #53 closed

[2020-02-24 16:59] cgmaier commented on #53
hey @alexanderkhitev !! i assume you figured it out?

the completion handler will return right away if it's a hit, or a little longer to download if it's a miss. i thought a single completion block was a nice way of handling both cases, but maybe we can improve this?

[2020-02-24 22:47] cgmaier commented on #47
Hey there, ver sorry about the late reply @krishnagniyes -- we're in the process of working on this and will get back to you when we have an update

[2020-02-25 14:44] filipef101 commented on #35
Also can't achieve without use frameworks

[2020-02-25 15:32] filipef101 commented on #35
:D
add to podfile    pod "PINCache", :modular_headers => true

[2020-02-26 07:11] manjureddy48 opened #54 "How to resolve this syntax issue?"
let giphy = GiphyViewController().   'GiphyViewController' cannot be constructed because it has no accessible initializers

[2020-02-27 09:05] manjureddy48 opened #55 "How to fix this issue Could not build module 'GiphyUISDK'?"
@import GiphyUISDK;  Could not build module 'GiphyUISDK'

[2020-02-27 09:15] manjureddy48 commented on #7
what is the solution? I am facing same issue

[2020-02-27 18:34] cgmaier commented on #55
hey @manjureddy48, what Xcode and GIPHY SDK versions are you using?

if you installed the SDK via Cocoapods, be sure to open the resulting workspace file rather than the project file

[2020-02-27 18:36] cgmaier commented on #54
hmm there must be an issue with how you're linking the Giphy SDK. lets resolve in the other issue you opened

[2020-02-27 23:19] jide commented on #35
:D I ended up getting this right but another bug while compiling misleaded me. Confirming this works.

[2020-02-28 05:24] manjureddy48 commented on #55
We are using Xcode 11.1 and laterst Giphy sdk install via cocoapod

[2020-03-03 15:14] cgmaier commented on #55
are you able to upgrade to the latest official Xcode release?

[2020-03-03 15:14] cgmaier commented on #54
im going to close this as i believe it's just a result of the other issue you opened

[2020-03-03 15:14] #54 closed

[2020-03-07 16:03] #48 closed

[2020-03-18 16:20] MarcoCadei opened #56 "Hide keyboard when scrolling"
Hi all,

is it possible to hide the keyboard when the user scrolls through the gifs?
I would like for my users to see the view controller full screen, search with the desired query and then hide the keyboard if they start scrolling so that they can see more gifs.

Is there an option for this? A callback I can listen to through a delegate?

[2020-03-18 23:53] PureBreadd opened #57 "Module 'PINCache' not found"
I am running Xcode 13.3.1 and installed the Giphy 1.2.2 SDK. When I go to import 'GiphyUISDK' to a view controller, I get the following Swift Compiler Error:

Module 'PINCache' not found
<unknown>:0: error: could not build Objective-C module 'GiphyUISDK'

Note: I do see the PINCache folder in my Pods folder and when I installed/updated the Cocoapods, the terminal read:
Installing DeepDiff (2.3.1)

[2020-03-19 16:38] cgmaier commented on #57
hey @PureBreadd - that's strange. are you able to run the example app in this repo?

[2020-03-19 16:41] cgmaier commented on #56
hey @MarcoCadei ! that's a great idea - we can add a "userDidScroll" callback to the `GPHGridDelegate` to handle your case. I will keep you in the loop when we add this change.

[2020-03-19 16:56] #37 closed

[2020-03-19 16:56] cgmaier commented on #55
hey @manjureddy48 i wanted to follow with you and ask if it's okay to close this issue. thanks!

[2020-03-19 21:51] PureBreadd commented on #57
@cgmaier
- When I open the example app, I run into the error "Unable to load contents of file list: '/Target Support Files/Pods-Example/Pods-Example-frameworks-Debug-input-files.xcfilelist'". This seems like a different issue, so I wasn't going to mention it.
- Also, I previously used an older version of the GiphySDK in another project (1.0.9 I think), but that version isn't compatible with the ne

[2020-03-20 07:45] MarcoCadei commented on #56
That would be super cool! I'll wait for more news 🚀

[2020-03-20 15:07] cgmaier commented on #57
hey @PureBreadd - that's strange. to clarify, can you please share what your Podfile looks like? You can replace your app name if you'd like.

[2020-03-20 16:34] cgmaier commented on #56
hey @MarcoCadei i went ahead and made this improvement with v1.2.4

let me know if you have any issues with the update.

[code]

[2020-03-20 19:02] PureBreadd commented on #57
@cgmaier, thanks for the quick response. My entire podfile is below. (I updated to Giphy 1.2.4 this morning and tried uninstalling/reinstalling the SDK and it didn't not fix the problem.)

target 'AppNameHere' do
pod 'Giphy'
end

Below are screenshots of the error message.

<img width="821" alt="Screen Shot 2020-03-20 at 2 55 53 PM" src="https://user-images.githubusercontent.com/44950578/77197507-

[2020-03-23 21:21] cgmaier commented on #57
hey @PureBreadd sorry about that ! can you try adding the `use_frameworks!` flag to your Podfile?
[code]

[2020-03-23 21:51] cgmaier commented on #47
hey @krishnagniyes sorry for such a late reply!

we've updated the [docs](https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#grid-only-and-the-giphygridcontroller-setup) to explain everything having to do with the grid.

you can achieve number of columns via
[code]
and fixed size cells with:
[code]
`fixedSizeCells` option only works for stickers not GIFs. the content mode is alw

[2020-03-23 21:52] cgmaier commented on #25
hey guys, ages later, but this is now supported ! please see my answer to this issue: https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/47

[2020-03-23 21:53] #46 closed

[2020-03-23 21:53] #13 closed

[2020-03-23 21:54] cgmaier commented on #55
hey @manjureddy48 i think the issue may be fixed by ensuring `use_frameworks!` is added to your Podfile

[2020-03-24 01:13] laud commented on #47
Looks great @cgmaier! I think there is an issue with `gridController.cellPadding = 10.0` in that the padding is not respected. Should I open another ticket for this?

[2020-03-24 17:00] MarcoCadei commented on #56
Thank you, works like a charm! 🙏

[2020-03-24 17:00] #56 closed

[2020-03-24 18:21] cgmaier commented on #47
thanks @laud ! sorry about the confusion

the padding has a max limit of 12.0 pts, and so if it's set to a value higher than this, it does nothing.

 we will document this properly, print some logs if it's set to a higher value, and can probably expand it a bit in our next release

[2020-03-24 20:52] johntmcintosh commented on #31
@cgmaier I'm facing similar warnings for consumers of an SDK that's distributed as a precompiled binary. Would you mind sharing what you eventually changed in your [1.1.8 release](https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v1.1.8) that resolved these warnings?

[2020-03-25 23:24] #47 closed

[2020-03-26 14:50] #25 closed

[2020-03-30 04:31] #55 closed

[2020-04-02 21:31] PureBreadd commented on #57
@cgmaier that worked fyi! Cheers!

[2020-04-02 21:31] #57 closed

[2020-04-03 21:06] h36ahmed opened #60 "Swift Compiler Errors with 1.2.5 update"
![image](https://user-images.githubusercontent.com/13081913/78404837-ab182380-7618-11ea-9705-1d38cd8b8427.png)

My XCode version: 11.3.1
Swift version: 5.1.3

[2020-04-07 03:50] dataman17 commented on #60
Having the same issue, which version of the SDK should I revert to?

[2020-04-07 09:46] iehsan77 commented on #9
Process: com.example.smeschat, PID: 14226
    android.view.InflateException: Binary XML file line #33: Binary XML file line #33: Error inflating class com.giphy.sdk.ui.views.GPHMediaView
    Caused by: android.view.InflateException: Binary XML file line #33: Error inflating class com.giphy.sdk.ui.views.GPHMediaView
    Caused by: java.lang.reflect.InvocationTargetException

[2020-04-07 09:48] iehsan77 opened #61 "Binary XML file line #33: Binary XML file line #33: Error inflating class com.giphy.sdk.ui.views.GPHMediaView"
getting the following error with

<com.giphy.sdk.ui.views.GPHMediaView
android:id="@+id/gifViewAnimated"
android:layout_width="wrap_content"
android:layout_height="wrap_content"
android:layout_marginTop="16dp"
android:layout_marginEnd="24dp"
android:elevation="4dp"
android:scaleType="fitCenter"
app:layout_constraintEnd_toEndOf="parent"
app:layout_constraintTop_toTopOf="parent"
tools:srcCompat="@to

[2020-04-07 13:25] Kamajabu commented on #60
1.2.4 seems to work; just need to also comment out one line from an example project:
```//            case .recents: button.setTitle("Recents", for: .normal)```

[2020-04-07 17:00] cgmaier commented on #61
hey @iehsan77 please open an issue in our Android repo here: https://github.com/Giphy/giphy-android-sdk-ui-example

[2020-04-07 17:04] cgmaier commented on #60
hey all im unfortunately unable to reproduce on xcode 11.4 - are you unable to update?

 @Kamajabu and @dataman17 - are you also on xcode 11.3?

[2020-04-07 17:21] Kamajabu commented on #60
@cgmaier yep, xcode 11.3.1.

[2020-04-07 22:00] dataman17 commented on #60
Same same 11.3.1

[2020-04-08 14:55] #61 closed

[2020-04-09 02:04] Kalvin126 opened #62 "Creating GPHMediaView from a URL does not work"
So I have a case where I save the `url` of a `GPHMedia` and when I need to load it again, I want to  pass it back to a `GPHMediaView` to load it via that `url`.

I see there is a `func loadAsset(at url: String, queueOriginalRendition: Bool = false)` on `GPHMedia`. When I use it, it only shows a white screen and does not load the image back.

What options do I have to achieve this? Or do I have to

[2020-04-09 15:37] cgmaier commented on #62
hey @Kalvin126 ! thanks for catching this.

to clarify, does the `url` contain an `.webp` (or `.gif`) file that's stored locally?

the `GPHMediaView` can only load images from remote urls, which may already be cached. this is definitely something we should make clear - sorry for the confusion!

if you want to display a local file in an image view, you can use `GiphyYYAnimatedImageView`.

if your g

[2020-04-09 17:14] Kalvin126 commented on #62
The url, resolved from a `GPHMedia`, for example is `https://giphy.com/gifs/reaction-v0eHX3n28wvoQ". It is not local.

[2020-04-09 22:33] Kalvin126 commented on #62
Essentially, I save the Media's url to our backend database. when I fetch it, I need to present it again through a `GPHMediaView`. I can't save the Media's ID.

[2020-04-10 15:30] cgmaier commented on #62
hey @Kalvin126, I think I understand now.

To clarify, the `url` that you are saving is the `url` property of a `GPHMedia` object? This url is essentially just a link to the "detail page" for that GIF on GIPHY.com and can't be used by the `GPHMediaView`

The `GPHMediaView` can only show actual urls to `.webp` or `.gif` files. Grab an image url with the following code:

`let url = media.url(renditi

[2020-04-10 17:05] Kalvin126 commented on #62
The image url may come from different sources so we just need to save a generic URL instead of a service specific ID.

The url with rendition and file type works! thanks! Closing issue.

[2020-04-10 17:22] cgmaier commented on #62
That makes sense! thanks for the insight. we'll take note to better document this!

[2020-04-10 23:14] Kalvin126 commented on #62
Actually Could there be a completionHandler added to the `func loadAsset(at url: String, queueOriginalRendition: Bool = false)` function? or otherwise, how would I capture the error case?

[2020-04-13 19:03] cgmaier commented on #62
hey @Kalvin126 sorry i missed this! feel free to reopen the issue or create a new issue in the future if you have additional comments so i can make sure i see it

we can consider adding a completionHandler in a future release

however, as it seems you like you want good deal of control over the image view, i recommend you make your own `GiphyYYAnimatedImageView` subclass, and handle the image requ

[2020-04-14 09:48] Reena1993 commented on #60
I'm also facing same this issue with xCode 11.3.1
![Screenshot 2020-04-14 at 15 17 48](https://user-images.githubusercontent.com/51085949/79210899-1eb10080-7e63-11ea-8b94-33490ef3263c.png)

[2020-04-14 14:17] cgmaier commented on #31
hey @johntmcintosh sorry for the late reply. i think it was this SO answer that helped me
https://stackoverflow.com/questions/33206431/ios-how-to-fix-the-following-warning-issues

[2020-04-14 18:56] Kalvin126 commented on #62
ok awesome that works!

[2020-04-15 14:51] #62 closed

[2020-04-17 21:07] Kalvin126 opened #63 "Hiding the Watermark"
Is it possible hide the water mark in a `GPHMediaView`?

[2020-04-20 14:22] cgmaier commented on #63
hey @Kalvin126 it's not possible to hide the watermark. my comment on the other issue you opened should help you:

https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/62#issuecomment-613044624

thanks!

[2020-04-20 18:49] Kalvin126 commented on #63
Thanks!

[2020-04-20 18:49] #63 closed

[2020-04-23 16:54] cgmaier commented on #60
hey guys, sorry about the delay on this. I just pushed a release which supports 11.1 through the latest Xcode. let me know if it solves this issue

https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v1.2.6

[2020-04-27 09:10] m1entus opened #65 "Giphy 1.2.6 Cannot be constructed because no public initializers"
![Zrzut ekranu 2020-04-27 o 11 08 50](https://user-images.githubusercontent.com/1565368/80354893-a2adb400-8877-11ea-8cb1-5ffd9faccb0d.png)

[2020-04-27 14:04] cgmaier commented on #65
hey @m1entus thanks for trying out the new release. a few qs:
- did you install via Cocoapods or Carthage? if Cocoapods, does your Podfile have the `use_frameworks!` flag?
- what Xcode version are you using?
- are you seeing any other compilation warnings / errors?

[2020-04-27 14:39] m1entus commented on #65
Hey, yes i use_frameworks i am using newes Cocoapods, have same issue with GPHMediaView probably you have not defined init as a open/public and it is visible only internally so after installing framework i cannot use it.

[2020-04-27 14:58] cgmaier commented on #65
what version of Xcode?

I've tested 1.2.6 and am not able to replicate the issue. The `GiphyViewController` and `GPHMediaView` are publicly accessible.

It seems like there may be an issue with how you're linking the library. I recommend uninstalling the Pod, reinstalling the pod, close and reopen Xcode, delete derived data, clean etc. and build.

your Podfile should look something like this :
[co

[2020-04-29 17:35] cgmaier commented on #65
hey @m1entus let me know if you happen to have an update! would be great to help resolve this

[2020-04-29 17:38] cgmaier commented on #60
hi @dataman17 @Reena1993 @Kamajabu @h36ahmed thanks again for flagging this issue. wanted to follow up here and ask if the latest release `1.2.6` works for you in Xcode 11.3.

[2020-04-30 09:15] madegraphy commented on #65
Hey @cgmaier, I ran into the same issue on Xcode 11.3. It even goes down to v1.2.4. However, using the latest SDK release with Xcode 11.4 works just fine. Hope this helps.

[2020-04-30 15:19] Curius-App commented on #65
Facing the same issue when I upgraded from 1.2.4 to 1.2.6. @cgmaier My pod structure is exactly the same as you mentioned. How to resolve this?

[2020-04-30 22:10] cgmaier commented on #65
Hey guys sorry the confusion. I finally re-downloaded Xcode 11.3.1 and confirm the issue is still there.

very weird to me that works in Xcode 11.1 and Xcode 11.4 but not 11.3.1

[2020-05-03 17:42] DhavalGevariya commented on #65
Hello, Anyone have Solution of this issue..

[2020-05-05 14:54] cgmaier commented on #65
hey @DhavalGevariya can upgrade to the latest Xcode?

[2020-05-05 16:09] DhavalGevariya commented on #65
Hey Christopher

Yes I have Update Xcode

On Tue, 5 May 2020 at 20:25, Christopher Maier <notifications@github.com>
wrote:

[2020-05-05 18:31] cgmaier commented on #65
hey all, i believe i resolved this with version 1.2.7

thanks so much for your help!

cc @DhavalGevariya, @Curius-App, @madegraphy, @m1entus

[2020-05-05 18:33] madegraphy commented on #65
Thank you very much @cgmaier! Appreciate your quick response.

[2020-05-05 18:34] cgmaier commented on #60
this should be fixed once and for all with release 1.2.7 - thanks for your patience

weird that 1.2.6 supported 11.1 and 11.4 _but not 11.3_. it appears i have to have 40 gigs of Xcode on my machine to test this in the future haha

anyway, please let me know if this is fixed!

cc @dataman17 @Kamajabu @h36ahmed

[2020-05-05 18:40] madegraphy commented on #65
I can confirm that the issue is gone, at least on my side.

[2020-05-05 19:00] cgmaier commented on #65
thanks so much for testing @madegraphy !

[2020-05-06 09:21] DhavalGevariya commented on #65
@cgmaier Finally, issue fixed in new Version 1.2.7

thank u very much.

[2020-05-06 13:53] #65 closed

[2020-05-06 13:53] #60 closed

[2020-05-19 20:53] beamPacer opened #67 "GiphyUISDK uses YYImage UIImage extensions, un-namespaced"
GiphyYYImageCoder.h includes the definitions for `UIImage (GiphyYYImageCoder)`, which are:
[code]
While this category has been namespaced as `GiphyYYImageCoder`, and while the _classes_ implemented in this header are namespaced as `GiphyYY...`, these Objective-C selectors are not themselves namespaced and are therefore loaded in the Objective-C runtime as listed above (`yy_...`).

Unfortunately, Y

[2020-05-20 14:10] LeeKahSeng opened #68 "Unable to Initialize GiphyGridController Because No Public Initializers"
Hi, I am getting following error when try to initialize `GiphyGridController`:
**Cannot invoke initializer for type 'GiphyGridController' with no arguments**

I am using
- Giphy v1.2.7
- Xcode v11.3.1
- CocoaPods v1.9.1

Please help. Thanks!

[2020-05-20 16:35] cgmaier commented on #68
hey @LeeKahSeng thanks for catching this! i was able to reproduce and fix with v1.2.9 of the SDK. let me know if you have any issues with the upgrade. 1.2.8 came

while the SDK does _not_ produce this error for Xcode 11.1 and Xcode 11.4, Xcode 11.3.1 seems to have a quirk! the fix for me was to just add this to the `GiphyGridController` class
[code]

[2020-05-20 16:40] cgmaier commented on #67
hey @beamPacer thanks for your thorough post, great catch! I pushed a release 1.2.9 which resolves this issue. let me know if you have any issues with the update

[2020-05-20 18:17] beamPacer commented on #67
Fantastic -- this is perfect. Thank you so much for your prompt response!

[2020-05-20 18:17] #67 closed

[2020-05-21 01:44] LeeKahSeng commented on #68
Hi @cgmaier thanks for the quick response, I am now able to initialize using v1.2.9. However, I do have to manually specify the podspec in my podfile in order to get v1.2.9.
`pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/1.2.9/Giphy.podspec'`
Anyway, I will close the issue. Thanks a lot!

[2020-05-21 01:44] #68 closed

[2020-05-21 03:11] cgmaier commented on #68
hey @LeeKahSeng ! thanks for confirmation.

 that's odd -- are you suggesting that
[code]
and running `pod update` doesn't deliver `1.2.9`?

[2020-05-21 03:16] LeeKahSeng commented on #68
Yup, when I use `pod 'Giphy'` I will get `1.2.7`. I think this already happening back when Giphy latest version is `1.2.8`.

[2020-05-21 14:51] cgmaier commented on #68
hmm are you sure you're running `pod update` and not `pod install`?

https://guides.cocoapods.org/using/pod-install-vs-update.html

[2020-05-21 15:30] LeeKahSeng commented on #68
oops sorry, I am doing a clean installation, that's why I am running `pod install`.

[2020-05-31 17:41] ezzz opened #70 "Error on downloading version 1.2.9 with Carthage update"
I am new to Giphy and would like to test it
I followed the Carthage update notes and added to Carthage file:
binary "https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/GiphySDK.json"

I have an error with the zip which seems to be related to the access of the zip file of 1.2.9 that cannot be downloaded

With 1.2.8 download is OK but then I have an error at compilation related to Swift version, so i

[2020-06-01 16:30] cgmaier commented on #70
hey @ezzz ! thanks for flagging this issue. I'll look into it soon

in the meantime a few follow up q's:
- what version of Xcode are you using?
- are you unable to use Cocoapods to install the SDK, instead of Carthage?

[2020-06-02 05:57] devny commented on #70
@cgmaier I have same issue!!

[2020-06-02 06:11] ezzz commented on #70
hello @cgmaier !

I use Xcode 11.5 coming with the iOS 13.5 update
For me the error seems quite easy to fix, so as we are only using Carthage in our project I will see how long it takes and if its too long then maybe give a try with Cocoapods.

[2020-06-02 07:40] devny opened #71 "Custom!"
I have a question.
I want to create and reflect custom cells. Can I use GridViewController?? If not, I wonder if UICollectionViewCell can be overridden.

If all of the above methods do not work, I am wondering if I should implement them separately using the API.

[2020-06-02 07:55] devny commented on #71
And there are additional questions.
I want to apply Cell's Background Color, but I don't think there are any related properties. How can I know how?

[2020-06-02 09:54] imnak0 commented on #70
I have the same problem and hope it's fixed soon.
Here's the error message with v1.2.9 binary download

[code]

[2020-06-02 20:19] beamPacer opened #72 "DeepDiff .swiftinterface file"
Hello!

The GiphyUISDK's .swiftinterface file specifies iOS 10 as the target version, which causes a problem with DeepDiff when the host's Podfile specifies `platform :ios, '11.0'`:

```Compiling for iOS 10.0, but module 'DeepDiff' has a minimum deployment target of iOS 11.0: [redacted]/Library/Developer/Xcode/DerivedData/[redacted]/Build/Products/Debug-iphonesimulator/DeepDiff/DeepDiff.framework/

[2020-06-02 21:00] cgmaier commented on #72
hey @beamPacer thanks for opening the issue - this is super helpful! will dig in and get back to you soon.

I've never actually specified a platform version number in Podfile - as you can set a minimum iOS version in your target settings, what's the value in setting it here too?

[2020-06-02 21:04] cgmaier commented on #71
hey @devny thanks for opening this issue! check out [GPHTheme](https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#extending-gphtheme)

you should be able to override visual properties such as cell background color through that approach.

what feature or behavior are you hoping to achieve by creating custom cells? accessing the `UICollectionView` / `UICollectionViewCell` directly

[2020-06-02 22:31] beamPacer commented on #72
The platform version number in the Podfile determines what deployment target version the Pods.xcodeproj gets set with, and then all of the pod targets within it get that as well. Otherwise, I think it just uses the minimum target it finds in any of the targets -- not _totally_ sure, but I think that's the default.

[2020-06-02 22:36] beamPacer opened #73 "ExampleObjectiveC needs updating to new `theme` API"
Just a note: the ExampleObjectiveC needs to be updated for the new API around GPHTheme -- this line causes compile issues:
https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Objective-C/ExampleObjectiveC/ViewController.m#L29

[2020-06-02 23:00] cgmaier commented on #73
thanks for flagging this : )

[2020-06-04 07:35] devny commented on #71
@cgmaier

Thanks for the answer.
I think you can override GPHTheme and use it.
There is another content that I want to custom. I am currently using GridViewController, but I want to apply CornerRadius to Cell. In the case of GPHMediaCell, it is not an open class, so override is not possible. How can I solve it?

[2020-06-05 16:04] cgmaier commented on #71
@devny this is great feedback. I'll let my team know about your request - we can likely include corner radius property in a future release. in the meantime, can you think of any other properties you as a developer wish we supported?

thanks for your help!

[2020-06-08 02:51] devny commented on #71
@cgmaier Good morning. Here are some things that I think would be nice to add.
-loading placeholder Image: Image showing during loading
-cell corner Radius

I will write more comments when I think of it.

[2020-06-08 05:38] devny commented on #71
@cgmaier
And there are additional questions. I want to create GPHMedia and output it from GPHMediaView. I create GPHMedia using GPHMedia(id:String, type: GPHMediaType, url: String) and set the media in GPHMediaView, but it is not displayed in GPHMediaView.

let sampleMedia = GPHMedia(id, type: type, url: url)
mediaView.media = media

Please answer what to do.

[2020-06-08 07:21] devny commented on #70
hello @cgmaier

I am curious when this issue will be resolved.

[2020-06-09 17:10] cgmaier commented on #70
hey @devny I apologize for the delay! I fixed the error for v1.2.9 binary download per @imnak0's comment, however I was unable to successfully build a test app with the GIPHY dependency following Carthage update. feel free to try yourself, if possible!

I hope to get to it soon regardless. thanks for your patience

[2020-06-09 17:16] cgmaier commented on #71
hey @devny this feedback is really helpful! keep it coming :)  I think more customization of the `GPHMediaCell` per your suggestions should be manageable.

as for the `GPHMedia` issue - it's possible we should make that constructor definition private, as  creating a `GPHMedia` object via that method isn't supported. here is the correct way to fetch a `GPHMedia` object from a media id: https://gith

[2020-06-10 06:28] devny commented on #70
@cgmaier

Well you still shouldn't use Carthage, what should I do?

The following error occurs.

   End-of-central-directory signature not found. Either this file is not
   a zipfile, or it constitutes one disk of a multi-part archive. In the
   latter case the central directory and zipfile comment will be found on
   the last disk(s) of this archive.

[2020-06-11 01:56] devny commented on #71
@cgmaier Thank you for your help. When will the custom version above be released?

[2020-06-11 02:00] devny commented on #70
@cgmaier

I am still getting the following error in version 1.2.9, and I wonder how I tested it.

Incompatible Swift version-framework was built with 5.2 (swiftlang-1103.0.32.1 clang-1103.0.32.29) and the local version is 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53).

I am using Xcode 11.5 version.
In Carthage File

# Giphy SDK
binary "https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/GiphySDK

[2020-06-11 16:09] cgmaier commented on #70
hey @devny thanks for testing this out. it's possible your still pulling in the v1.2.9 that's already cached on your machine. clear the cache with:
[code]
then call
[code]

[2020-06-12 04:07] devny commented on #70
@cgmaier

Good morning. I tried entering the command as mentioned above and proceeded, but I still get the following error.

*** Downloading GiphySDK.framework binary at "1.2.9"
Incompatible Swift version-framework was built with 5.1 (swiftlang-1100.0.270.13 clang-1100.0.33.7) and the local version is 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53).

My Carthage File is as below.

# Giphy SDK
bin

[2020-06-18 16:27] dkerbelSFDC opened #74 "Compile issue with Xcode 11.5, Swift 5.2.4"
I just upgraded to the latest Xcode (11.5) since my phone updated and required this. Giphy pods are not compiling now and I get 2 separate errors depending on the version I install

I get 72 errors for the versions below:
pod 'Giphy', '1.1.1'
pod 'Giphy', '1.1.7'
pod 'Giphy', '1.1.8'
![Screen Shot 2020-06-18 at 12 17 03 PM](https://user-images.githubusercontent.com/64553287/85046888-090bd000-b15f-

[2020-06-18 16:58] dkerbelSFDC commented on #74
I was way off, version 1.2.8 works fine. I got the versions above from the other issues listed. Also make sure to point to the version.

pod 'Giphy', '1.2.8' works
pod 'Giphy' gives you the 72 errors

[2020-06-24 00:33] devny commented on #70
@cgmaier

Hello! We're waiting for a fix as we continue to look for ways.
Can you tell me when it will be fixed and if the update is due?

[2020-06-30 17:07] Dubnovitsky opened #75 "didSelectMedia from GiphyUISDK.GiphyDelegate not called when used with GiphyUISDK.GiphySearchController"
In my Swift application, I use **GiphyUISDK.GiphySearchController** which has a delegate property of **GiphyUISDK.GiphyDelegate** type.

Look at the next method declaration in **GiphyUISDK.GiphyDelegate**
`@objc func didSelectMedia(giphyViewController: GiphyUISDK.GiphyViewController, media: GiphyCoreSDK.GPHMedia)`

It uses **GiphyUISDK.GiphyViewController** which is not child or parent of **GiphyU

[2020-07-01 15:22] cgmaier commented on #75
hey @Dubnovitsky ! Please _only_ use the `GiphyViewController`, rather than the `GiphySearchController`. See the example app in this repo for best practices.

The `GiphySearchController` will be private in future versions of the SDK. hope this helps!

[2020-07-01 15:27] Dubnovitsky commented on #75
@cgmaier, thanks for the clarification! So, probably I will use `GiphyGridController` with a custom search field and tabs

[2020-07-01 15:27] #75 closed

[2020-07-01 18:14] cgmaier commented on #75
@Dubnovitsky if you are looking for customization options beyond what is available via the `GiphyViewController`, check out the `GiphyGridController` which is documented here:

https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#grid-only-and-the-giphygridcontroller-setup

[2020-07-02 03:57] devny opened #76 "GPHContent to object list"
Hello. Is there any way to get list array from GPHContent object and write it?

[2020-07-06 15:30] cgmaier commented on #76
hey @devny ! that's an interesting idea. it would be helpful to get context for the type of feature / functionality you're hoping to enable.

for example, are you hoping to load the grid with local content that doesn't come from GIPHY?

[2020-07-06 15:46] cgmaier commented on #70
hey @devny I'm planning on taking another look at this today.

[2020-07-08 01:21] Lottikeres opened #77 "Build error in Xcode12"
Help, when I compile giphy on xcode12, it prompts "may have used features that aren't supported by this compiler". Is there any configuration that I need to change? Or need to wait for you to update the sdk？
![image](https://user-images.githubusercontent.com/26219862/86861425-a7a1a600-c0f9-11ea-96a8-10b87cc9aee0.png)

[2020-07-08 17:16] cgmaier commented on #77
thanks for flagging this @Lottikeres ! will get back to you soon.

[2020-07-09 20:42] cgmaier commented on #77
hey @Lottikeres - just built a test app with the latest version of the GIPHY SDK as a dependency and was able to run it fine with out any errors. can you please confirm your SDK version / whether you are using Cocoapods or Carthage?

[2020-07-10 01:26] Lottikeres commented on #77
Thanks @cgmaier  for your reply, I just created a demo and run it, this problem still occurs.Below is some of my environmental information, pls help me see where the problem is.
[code]
The content in the podfile is like this:

[code]

[2020-07-10 13:19] cgmaier commented on #77
thanks for the details @Lottikeres - will get back to u soon : )

[2020-07-10 14:49] cgmaier commented on #77
hey @Lottikeres i was able to reproduce your issue. it's necessary to add the
`use_frameworks!` flag - when I removed the flag I encountered the same compilation error as you. i'll better highlight this requirement in the documentation. thanks!

[code]

[2020-07-10 16:28] cgmaier opened #78 "test issue"

[2020-07-10 16:29] #78 closed

[2020-07-10 16:40] cgmaier commented on #78
test @cgmaier

[2020-07-10 16:44] cgmaier commented on #78
testo

[2020-07-13 12:24] Lottikeres commented on #77
hey @cgmaier, when I add the `use_frameworks!`, this error is gone, but another error was encountered. I guess it may be a problem caused by Cocoapods, can you tell me what your Cocoapods version ?
![image](https://user-images.githubusercontent.com/26219862/87303944-949e3400-c546-11ea-9737-8c9d151364b8.png)

[2020-07-13 12:47] cgmaier commented on #77
hi @Lottikeres - I'm on the latest release of Cocoapods, `1.9.2`. Is there any reason why you can't upgrade your CocoaPods version?

I also recommend clearing derived data / cleaning / closing and reopening Xcode just to be sure it's not some weird Xcode state thing : )

[2020-07-14 17:53] cgmaier commented on #73
this is fixed in 1.3.0 - thanks again!

[2020-07-14 17:53] #73 closed

[2020-07-15 16:05] cgmaier commented on #70
hey all, I made a video of installing GIPHY SDK via Carthage, and subsequently running it on Xcode 11.1, 11.5.1, and 12 Beta. Hope this helps!

[![Alt text](https://img.youtube.com/vi/REYWFhgSZrU/0.jpg)](https://www.youtube.com/watch?v=REYWFhgSZrU&feature=youtu.be)

cc @devny

[2020-07-17 20:56] ankush-bhatia commented on #77
Hi, @cgmaier I am also facing the same issue. Tried all the solutions mentioned above.

XCode - 12.0 - beta 2
Cocoapods Version: 1.9.3

I think the framework needs to be rebuilt from compiler supporting Swift 5.3.
Thanks.

[2020-07-18 12:54] ezzz commented on #70
Import is OK now. I had to update Carthage binary to 0.35 to override import error with non maching Swift version between Giphy binary and Xcode
Thanks also for the video, very helpful
This issue can be closed for me

I have another issue now but related to the code itself. I will create another discussion for it :)

[2020-07-18 12:54] #70 closed

[2020-07-18 13:04] ezzz opened #80 "Multiple methods named 'theme' found with mismatched result"
Dear Giphy team,

I thought I was about to display the Giphy HMI but not yet :)
I have an issue as soon as I import the Giphy SDK
like this
`#import <GiphyUISDK/GiphyUISDK.h>`
or like this
`@import GiphyUISDK;`

As soon as I add the import line, I have the error on all my own `theme` var, used like this for instance:
`[[ThemeManager sharedManager] theme];`

Its definition is this one:
[code]
Exact

[2020-07-18 13:53] cgmaier commented on #77
thanks for confirming @ankush-bhatia

there must be something unique about my environment. I'll look into it and get back to you soon

[2020-07-18 14:00] cgmaier commented on #80
hey @ezzz that's very odd! searching around, it seems like people have fixed similar issues via casting i.e.`(Type*)` when referencing the var to disambiguate the type to the compiler.

are there any other details you can share? what is the actual line of code which causes the error?

[2020-07-19 09:05] ezzz commented on #80
hey @cgmaier
indeed that's very odd
It surely is an issue on my side but as it appears as soon as I add the import line, maybe someone else already add that kind of issue

[2020-07-19 09:17] ezzz commented on #80
Found the issue!
Indeed that was an issue related to the casting of my singleton : `[[ThemeManager sharedManager] theme];`
sharedManager was returning a generic `(id)` value instead of `ThemeManager*`
That was confusing the compiler with my theme attribute and the same attribute into GiphySDK: `@property (nonatomic, strong) GPHTheme * _Nonnull theme;`

Thanks for your hint on this

=> issue closed

[2020-07-19 09:17] #80 closed

[2020-07-20 15:37] cgmaier commented on #77
hey @ankush-bhatia and @Lottikeres - i'm still unable to reproduce on my end unfortunately. I've asked a teammate to try on their machine

can either of you confirm whether this issue is reproducible in the swift example app? thanks !

[2020-07-20 16:10] cgmaier commented on #77
well this is interesting!

https://www.youtube.com/watch?v=d0fN3iOIVg8

it appears that adjusting the iOS version in the Deployment Info has an effect.

if the version is above 13.3, the error happens, otherwise the build is fine.

cc @ankush-bhatia @Lottikeres

[2020-07-22 04:48] ankush-bhatia commented on #77
Yes, that is true. Changing the iOS version above 13.3 causes the issue. That is why from the error description I feel that the framework needs to be rebuilt for Swift 5.3 @cgmaier

[2020-07-22 18:45] derekbrown commented on #49
@cgmaier https://developer.apple.com/documentation/swift_packages/distributing_binary_frameworks_as_swift_packages

Please? 🙏

[2020-07-28 03:18] johnlo-bandlab opened #81 "Crash in PingbackCollector"
We have very few crash of this nature. I'm not sure if we cause this because it only started appearing a couple of weeks ago after months of using giphy.

<img width="875" alt="Screen Shot 2020-07-28 at 11 10 37 AM" src="https://user-images.githubusercontent.com/52393419/88615130-e48f0600-d0c3-11ea-8833-0d5a83ba7205.png">

[2020-07-30 20:17] 3arrett opened #82 "Accessibility: GiphyGridController cells are inaccessible while using VoiceOver"
Using the latest version `1.3.0` and the `GiphyGridController` embedded.

While using the VoiceOver, neither the Cells nor the UICollectionView is accessible. You can tap a cell and it will read presumably the fileName but gives no focus and you can't scroll the collection view either.

[2020-07-30 20:33] cgmaier commented on #82
hey @3arrett, would love to help with this. do you have any pointers on how to achieve this behavior?

is it just a matter of exposing / documenting accessibility labels for the UICollectionView and cells?

[2020-07-30 20:34] cgmaier commented on #81
we dogfood the sdk in our GIPHY apps, and haven't identified any similar crashes. it could be a red herring?

[2020-07-30 21:18] 3arrett commented on #82
Yeah, by default `UICollectionViewCell`s aren't an accessibility element and infer their contents if any. Since the only content in the `GPHMediaCell` is the ImageView, it why tapping it reads off the file name.

At a minimum you can just add `isAccessibilityElement = true` on the `GPHMediaCell` itself. Not knowing the full API, if you have a relevant name for the cell you can add that as the `acc

[2020-08-03 06:01] ankush-bhatia commented on #77
Hi @cgmaier

Just wanted to know if there is any update on this issue.

Thanks.

[2020-08-04 14:05] cgmaier commented on #77
It's not a matter of rebuilding for Swift 5.3. The GIPHY SDK supports all Swift versions since Swift 5.1. This can be verified in Xcode 11.6.

It appears that this is a known issue with the Xcode Beta: https://developer.apple.com/forums/thread/649918

[2020-08-05 20:31] cgmaier commented on #82
hey @3arrett I hope to get to this with the next release.

I found some documentation for how to test this behavior here:

https://developer.apple.com/library/archive/technotes/TestingAccessibilityOfiOSApps/TestAccessibilityonYourDevicewithVoiceOver/TestAccessibilityonYourDevicewithVoiceOver.html

feel free to share any other resources you think may be useful : )

[2020-08-07 14:16] 3arrett commented on #82
Great! A great resource also to take look into is the WWDC videos. Here are some of the quick overview ones you can take a look into to:

- Design For Everyone - WWDC 2017 - https://developer.apple.com/videos/play/wwdc2017/806
- VoiceOver: App Testing Beyond The Visuals - WWDC 2018 - https://developer.apple.com/videos/play/wwdc2018/226
- Deliver an Exceptional Accessibility Experience - WWDC 2018

[2020-08-09 11:41] kumararun540 opened #83 "After updating sdk getting error"
I just updated sdk and getting error-

[media urlWithRendition:GPHRenditionTypeFixedWidth fileType:GPHFileExtensionGif]
error- No visible @interface for 'GPHMedia' declares the selector 'urlWithRendition:fileType:'
What I can use in place of this?

For theme-
giphy.theme = [[GPHTheme alloc] init];

its also not supporting now dart? is there any quick way to set theme dark?

[2020-08-09 22:23] cgmaier commented on #83
hey @kumararun540 thanks for updating to the latest version ! there may be some issues with the Objective-C interfaces  - I'll take a look tomorrow : )

[2020-08-10 07:32] kumararun540 commented on #83
Ok @cgmaier Please let me know for the fix when you update it, we need to release by this week.

[2020-08-11 16:26] beamPacer commented on #81
Hey Chris! We've seen this same issue in TextNow -- here's a similar screenshot from Fabric. I came here to report it and see that there's already this thread! Yay. Let us know if you need more information.

<img width="725" alt="giphy crash" src="https://user-images.githubusercontent.com/1409593/89922967-b0800e80-dbb4-11ea-88c7-61172943710b.png">

[2020-08-11 16:37] beamPacer commented on #81
I looked at our metrics and it appears that there's a 10:1 ratio between the number of users who successfully sent a gif from Giphy to the number of crashes we're seeing with this signature. Those numbers are only _mostly_ correlated, of course.

[2020-08-11 20:20] cgmaier commented on #83
hey @kumararun540 sorry about the delay. this is fixed in the latest release

there was an issue with the GPHThemeType Objective-C interface, which is now fixed. to set the theme to dark you can do:
[code]

as for obtaining the assets you can do:
[code]

[2020-08-11 20:21] cgmaier commented on #81
hopeful fix for the latest release:

https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.0

has anyone been able to reproduce or gotten any outreach from users that verify this not ? 10:1 seems like a fairly significant ratio, considering we can't seem to reproduce it ourselves.

[2020-08-11 20:21] #77 closed

[2020-08-11 20:21] #76 closed

[2020-08-11 22:48] beamPacer commented on #81
We're working on reproducing it in-house and will let you know -- thanks as always for the quick response! I'm wondering if it happens on initialize -- if so it would look the same as any other crash to our users, and the ratio of _all_ of our users to the number of crashes with this signature is significantly lower than 10:1.

[2020-08-12 02:21] johnlo-bandlab commented on #81
We started encountering this crash when we move things around in our project resulting on us calling `Giphy.configure(apiKey: "ourkey")` everytime we open our chat feature.

[2020-08-12 05:00] cgmaier commented on #81
hi @johnlo-bandlab ! that's interesting - did only calling 'configure' once fix the issue?

if not, do know happen to know if the crash also may have also corresponded to an update in the GIPHY SDK version?

thanks for your help @johnlo-bandlab & @beamPacer

[2020-08-12 05:02] #83 closed

[2020-08-12 05:27] kumararun540 commented on #83
@cgmaier Thanks for quick update, all working now :)

[2020-08-19 08:45] tonite31 opened #85 "How to hide search suggestions?"
I don't want to show the search suggestions bar to users of my app. This is because this bar displays unwanted languages ​​such as Chinese.

I want an option to hide this bar.

[2020-08-20 07:00] gilbertl opened #86 "Cannot build after disabling use_frameworks"
According to https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/35, we should be able to use this library without use_frameworks.

However, I tried it just now and the build fails with

[code]

Here's my fork: https://github.com/gilbertl/giphy-ios-sdk-ui-example

I'm on XCode 11.6

[2020-08-20 07:08] gilbertl commented on #35
@jide Is this still working for you all?

[2020-08-20 17:34] cgmaier commented on #86
hey thanks for resurfacing this @gilbertl - it must have broken again

[2020-08-20 17:44] cgmaier commented on #86
im going to close this issue as I reopened #35

[2020-08-20 17:44] #86 closed

[2020-08-23 22:58] gilbertl commented on #35
Thanks @cgmaier . Unfortunately, I added the podspec you provided and ended with the exact error:

"Cannot load underlying module for 'DeepDiff'"

Here's my commit:

https://github.com/gilbertl/giphy-ios-sdk-ui-example/commit/ab338bf9964fcb41e66ccf725f0b4ac392dd6314

[2020-08-24 21:40] cgmaier commented on #81
an update here: as @johnlo-bandlab has suggested, this crash seems to result from multiple calls to `Giphy.configure(apiKey: "apiKey")`.

I did a deep dive in the code today and found that `configure` ends up creating a new serial dispatch queue every time it is called, and loses the reference to any previously active queue as a result.

we have a seemingly innocuous line in that `configure` funct

[2020-08-24 22:10] cgmaier commented on #35
hey ! so odd that it seemed to work for me on fri, though it's possible i was using Xcode 11.1 accidentally. i'll dig in tomorrow

[2020-08-24 22:20] beamPacer commented on #81
Mm, ok -- thinking about this more, our static once call to configure would still be called every time a new instance of the class is initialized, which explains why instances of this crash went _down_ but stayed around after we made that change. Ok! We'll go in and verify that it only ever happens exactly once no matter what.

[2020-08-25 00:12] johnlo-bandlab commented on #81
@cgmaier , Our app just got release 3 days ago so I can't fully verify yet that it fixed the issue. So far there's no instance of crash when we call configure only once. thanks for all the help. 👍

[2020-08-25 17:10] 3arrett opened #87 "GiphyGridController and Recents not working"
SDK Version: 2.0.1
Related: https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#recents

I've been working on implementing recents within the `GiphyGridController`. My process is I generally run and select the first few trending GIFs through the picker and then switch to recents by setting the `.content = .recents` and `update()` and it returns 0 results.

I've also looked at pri

[2020-08-25 17:28] cgmaier commented on #87
hey @3arrett - good catch. looks like we only add a GIF to recents if it's selected from the `GiphyViewController`. I'll include a fix in the next release!

[2020-08-26 18:56] gilbertl commented on #35
@cgmaier , were you able to reproduce the same error?

[2020-08-28 17:50] paulxuca opened #88 "Disabling Search"
Is there a way to disable the search bar?

[2020-08-31 10:33] nalexn commented on #35
I'm unable to integrate Giphy for the same reason: `use_frameworks!` is incompatible with the current Pods integration, and if I omit it or replace with `use_modular_headers!` I get these two errors:

[code]
---

So far, integrating Giphy iOS SDK was a very frustrating experience. I already described the problem with Cocoapods, but Carthage integration does not work either because Giphy is built w

[2020-08-31 14:42] jide commented on #35
I could not compile the 2.0 version with this trick, try using 1.3 instead and do https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/35#issuecomment-590925993

[2020-08-31 19:01] cgmaier commented on #88
hey @paulxuca ! you can achieve this with the [GiphyGridController](https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#grid-only-and-the-giphygridcontroller-setup)

[2020-09-01 20:22] mmdock opened #89 "GiphyViewController mismatch mediaType tabs"
Using `GiphyViewController`

`giphy.mediaTypeConfig = [.gifs, .recents, .stickers, .emoji, .text]
`

when the viewcontroller is full screen we see that all 5 options show at the bottom:
![IMG_3492](https://user-images.githubusercontent.com/2423465/91901681-722abc00-ec55-11ea-9c59-86601c4ea95b.PNG)

but when I am typing, I only see 3 tabs.  I understand maybe causing recents to go away, but why emo

[2020-09-01 20:49] mmdock opened #90 "iOS 14 bug: trending items cannot be clicked"
There is a number of trending items at the top of GiphyViewController.  As a user I kinda expect these to be selectable and auto search for this, but nothing happens when selected

setup:

[code]

Note: I confirmed this occurs when building for iOS 14 devices(physical and simulator) with Xcode Beta, but pre-iOS 14 simulated devices still works fine
Giphy version: - Giphy (2.0.1):

[2020-09-01 22:26] cgmaier commented on #90
thanks for flagging this, @mmdock !

[2020-09-01 22:28] cgmaier commented on #89
hey @mmdock - the reason `emoji` and `recents` disappear when search is initiated is because those categories aren't "searchable", currently.

this has been a source of confusion in the past, and so we will take a look at how it could be more clear.

[2020-09-01 22:28] #89 closed

[2020-09-02 02:51] gilbertl commented on #35
What XCode version are you on?

I switched to 1.3 and continue to get the error

`"Cannot load underlying module for 'DeepDiff'"
Failed to load module 'GiphyUISDK'`

[2020-09-03 10:56] jide commented on #35
You shouldn't have a warning for Deepdiff with 1.3, did you try to remove the module completely, clean pod cache, clean project etc ?

[2020-09-03 13:06] binodav opened #91 "function didSelectMedia return wrong media type"
Giphy version: 2.0.1

`func didSelectMedia(giphyViewController: GiphyViewController, media: GPHMedia) {`
      `   //always return "gif" value`
      `   let mediaType = media.type.rawValue`
`}`

Is there anyway to get the correct media type  "gif", "stickers", "emoji" ? The function above always return "gif". Thank you.

[2020-09-03 16:57] gilbertl commented on #35
Yes. I've 1/ pod cache clean 2/ pod deintegrate  3/ removed the entire repo and start from scratch

Here's the repo: https://github.com/gilbertl/giphy-ios-sdk-ui-example.git . It's pointing to Giphy 1.3.0.

I still get

`"Cannot load underlying module for 'DeepDiff'" Failed to load module 'GiphyUISDK'`

XCode 11.7

===============================

@cgmaier It's been a week. Any updates on this?

[2020-09-03 18:26] beamPacer commented on #81
We haven't seen this crash occur in our release which only calls configure once. Thanks again Chris!

[2020-09-03 18:54] cgmaier commented on #81
that's awesome! thanks for the follow up. will close this issue : )

[2020-09-03 18:54] #81 closed

[2020-09-03 19:54] mmdock commented on #81
@cgmaier

quick question, you write "we'll be sure to prevent multiple configure calls from causing any issues in a future release, but in the meantime, ensure configure is only ever called once in a given app lifecycle. also avoid using the GiphyViewController method setAPIKey for now."  However, I have seen no new version that actually fixes this, the solution seems to be that end developers sho

[2020-09-03 20:07] mmdock opened #92 "Occasional crash when selecting Gifs"
When adding in using the SDK for giphy into my application, I was occasionally encountering this crash:

<img width="924" alt="giphy crash 2" src="https://user-images.githubusercontent.com/2423465/92161397-738aee80-ede5-11ea-9d4c-91ba9aa7dc65.png">

<img width="629" alt="giphy crash" src="https://user-images.githubusercontent.com/2423465/92161388-6ec63a80-ede5-11ea-9fca-ad2b035915f3.png">

I had s

[2020-09-03 21:15] jide commented on #35
My bad, I was using version 1.1.9.

[2020-09-03 21:27] #88 closed

[2020-09-03 21:32] cgmaier commented on #92
thanks for sharing this @mmdock - would it be possible to share a sample application?

[2020-09-03 21:34] paulxuca commented on #88
@cgmaier Thanks for the response! Is there a easy way to use the `GiphyViewController` and still be able to disable/ hide the search bar?

[2020-09-03 21:35] cgmaier commented on #91
I'll look into this - thanks!

[2020-09-03 21:36] cgmaier commented on #87
hi @3arrett this should be fixed in v2.0.2. thanks !
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.0.2

[2020-09-03 21:36] cgmaier commented on #90
hey @mmdock this should be fixed in the latest release 2.0.2

[2020-09-03 21:36] mmdock commented on #92
@cgmaier i can try, but as i stated above, it isn't easy to reproduce.  there isn't a reliable repro case

[2020-09-03 21:38] cgmaier commented on #81
hey @mmdock with the latest release `2.0.2`, multiple calls to `configure` or `setAPIKey` won't cause issues

[2020-09-04 07:48] binodav commented on #91
@cgmaier Sorry, I just want to clarify this issue only happens when I select from "Recents" tab.

[2020-09-04 16:30] #90 closed

[2020-09-04 16:33] cgmaier commented on #85
hi @tonite31 this is now possible with the latest release: https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.0.2

[2020-09-04 23:21] gilbertl commented on #35
I just tried checking out v1.1.9 from the Example repo, commenting out "use_frameworks",   and building from there. It doesn't work. Same issue. Cannot load underlying module for 'DeepDiff.'

[2020-09-05 01:57] jide commented on #35
with `pod "PINCache", :modular_headers => true` ?

[2020-09-05 06:02] gilbertl commented on #35
Yes. With that added.

https://github.com/gilbertl/giphy-ios-sdk-ui-example/tree/gilbertl/non-framework-1.1.9

I'm using Swift. Is that a difference?

[2020-09-07 05:36] ASM-Anik opened #93 "How to change layout to carousel mode"
I was trying to add giphy sdk to my custom keyboard for iPhone and i would like to change the layout to carousel mode.
i have a button on my keyboard that will trigger the giphy view controller. can anyone suggest how I can set the view controller above my keyboard in carousel mode.
Sorry if it seem like a no brainer question but i'm new at this and any help would be very helpful.

[2020-09-07 12:50] ealeksandrov commented on #44
GiphyViewController is still useless in SwiftUI.
I've used GiphyGridController as a fallback, but it's quite limited in comparison.

For example, SCSDKBitmojiStickerPickerViewController from Snapchat has similar controls (search + stickers), but doesn't hijack whole screen and works well as UIViewControllerRepresentable inside SwiftUI.

Simple GiphyGridController as UIViewControllerRepresentable i

[2020-09-07 13:01] filipef101 commented on #35
I get the same, only after xcode 13.1, with 13.1 works fine somehow

[2020-09-08 16:56] #85 closed

[2020-09-08 16:57] #87 closed

[2020-09-09 18:52] 3arrett commented on #87
@cgmaier I just go to integrating this and worked great 👍

Only thing that's missing is that `GPHRecents.count` still isn't exposed publicly. We'd like to hide our recents button until there are any to show.

[2020-09-09 18:54] gilbertl commented on #35
@cgmaier any resolutions here? Our team is considering implementing our own UI using the SEARCH APIs to unblock ourselves (even if it means losing text and emojis). It's not really an ideal scenario for us or Giphy.

[2020-09-10 11:03] arthurschiller commented on #49
Any news here? We would love to fully migrate from CocoaPods soon and GIPHY is one of the last libraries with missing support.

[2020-09-11 15:38] filipef101 commented on #35
@gilbertl Have you tried Xcode 13.1?

[2020-09-11 15:38] filipef101 commented on #35
Also don't think this library is official

[2020-09-11 16:11] jide commented on #35
I tried your repo and had errors too.

What I can say is that I use react-native-giphy-keyboard with this podspec and it works :
https://github.com/Gustash/react-native-giphy-keyboard/blob/v1.0.1/react-native-giphy-keyboard.podspec

[2020-09-11 19:31] gilbertl commented on #35
I looked at the above repo. The Podfile says

use_frameworks!

https://github.com/Gustash/react-native-giphy-keyboard/blob/87c0e22b78410b76cedd618bb2967033e919d8f7/example/ios/Podfile#L43

[2020-09-11 19:33] gilbertl commented on #35
The latest XCode version is 12
https://en.wikipedia.org/wiki/Xcode

Do you mean iOS 13.1? Are you saying that it'll work if I set the deployment target to iOS >= 13.1 ?

[2020-09-11 20:43] jide commented on #35
You should either have use_frameworks! or pod "PINCache", :modular_headers => true.

But none work in your repo example, you could try some of the other options present in the podspec of react-native-giphy-keyboard (maybe static_framework).

[2020-09-14 02:00] schazers commented on #49
+1! This would be very helpful. SPM is wonderful and growing quickly. :)

[2020-09-14 17:55] cgmaier commented on #35
thanks so much for the help @jide! the `pod "PINCache", :modular_headers => true` solution works for me without the `use_frameworks!`. @gilbertl are you still facing issues here?

[2020-09-14 17:58] cgmaier commented on #93
hey @ASM-Anik ! The `GiphyViewController` setup won't work in keyboard extensions. Please check out the `GiphyGridController` section of the docs.

[2020-09-14 18:00] cgmaier commented on #49
we hope to look into this soon - will keep y'all in the loop !

[2020-09-14 18:00] gilbertl commented on #35
Yes, I'm still seeing issue. Can you share a branch or repo that's working for you?

[2020-09-14 18:03] schazers commented on #49
👏👏 go giphy team, go 🥳

[2020-09-14 20:07] cgmaier commented on #35
I think I understand what's happening now. should have a fix soon

[2020-09-15 08:30] ASM-Anik commented on #93
Thanks for the suggestion

[2020-09-15 08:33] #93 closed

[2020-09-15 13:05] Morniak opened #95 "PINCache unrecognized selector"
Hi,

When presenting the `GiphyViewController`, I'm getting the following crash:

[code]

I think it might be related to conflicting version of PINCache since another of my pods is using it.

Here is simplified version of my Podfile.lock:

[code]

I'm getting this crash on iOS 13.7 & 12.0

[2020-09-15 13:43] Morniak commented on #95
Update: I made a project with the bug. It's not a conflict with different PINCache version as I thought since I am able to reproduce the crash just with the Giphy SDK.

https://github.com/Morniak/YUNoWorkGiphy

Just put an api key, run and you should get the crash.

[2020-09-15 23:34] drewolbrich opened #96 "Unable to build with Giphy on Xcode 12"
Using Xcode 12 GM, I'm unable to build against GiphyUISDK. I get the following errors:

[code]

I'm confused about the "Compiling for iOS 10" part, because everywhere in my project I'm explicitly specifying 12.1 as the deployment target.

I tried updating my Podfile post_install handler to explicitly set `IPHONEOS_DEPLOYMENT_TARGET`, but no dice.

Is there any obvious solution to this I'm overlook

[2020-09-15 23:54] cgmaier commented on #96
hey @drewolbrich going to download the GM. in the meantime, can you share your Podfile?

[2020-09-15 23:55] cgmaier commented on #95
hey thanks @Morniak ill look into this

[2020-09-15 23:58] cgmaier commented on #92
hey @mmdock are you still experiencing this crash? any additional details you can provide?

[2020-09-16 03:35] drewolbrich commented on #96
Hi @cgmaier thank you for responding.

I had the same issue with the previous version of Xcode 12 beta, but I did not have time to investigate it then. The issue is not unique to the GM.

Our Podfile is here: http://traipse.com/giphy/Podfile.txt
(please don't judge 😄 )

The Giphy reference is down near the bottom.

If I remove the `pod 'Giphy'` line from the Podfile and remove all references to Gi

[2020-09-16 15:17] joshavant opened #97 "Unable to build on Xcode 12 due to PINCache dependency"
Hello,

I'm unable to build on Xcode 12 due to Giphy's dependency on a version of PINCache which does not build on Xcode 12. I get the following build errors:
<img width="562" alt="Screen Shot 2020-09-16 at 10 15 47 AM" src="https://user-images.githubusercontent.com/830519/93357131-98c82580-f805-11ea-85ee-367cfb2c55e7.png">

My Podfile includes the Giphy pod in my project using the following decla

[2020-09-16 15:39] tmspzz commented on #96
This happens if the deployment target is >= 13.4

[2020-09-16 15:58] drewolbrich commented on #96
Thank you.

[2020-09-16 15:59] drewolbrich commented on #96
fwiw my project's deployment target is 12.1.

[2020-09-16 16:43] cgmaier commented on #97
hey @joshavant that's odd - `2.0.2` should use `3.0.1`. I'm still investigating & figuring out next steps around some of the issues, but released a version of the SDK `2.0.3-Xcode-12` which uses the Xcode-12 command line tools for compilation, and successfully tested in Xcode 12 / iOS 14.

[code]

[2020-09-16 16:44] cgmaier commented on #96
can you guys try this? compiled with Xcode 12 compiler:

[code]

[2020-09-16 16:46] drewolbrich commented on #96
@cgmaier I am in the middle of juggling something else, maybe for 1/2 hour, but I will try that immediately after I'm done.

[2020-09-16 16:55] kaandedeoglu commented on #96
@cgmaier This didn't work for us. We also had to run it through a modified local podspec since PINCache 3.1.0 doesn't exist on trunk yet.

[2020-09-16 16:56] tmspzz commented on #96
We also tried manually integrating the previous version & using carthage. Both seems to work. This might be a Cocoapods issue.

[2020-09-16 16:58] cgmaier commented on #95
hey @Morniak im going to revert to an older version of PINCache

[2020-09-16 16:59] cgmaier commented on #96
ok gotcha. not sure what happened with PINCache `3.1.0` - as that version is causing issues for people, I may revert to a prior version and specify limitations in the Podspec. thanks for your patience!

[2020-09-16 18:01] cgmaier commented on #97
hey @joshavant I just updated the above pod spec - let me know if this helps!

[code]

[2020-09-16 18:02] cgmaier commented on #96
thanks guys - I just updated the podspec here:

[code]

be sure to run this first!
[code]

[2020-09-16 18:03] cgmaier commented on #95
hey @Morniak this should work:

[2020-09-16 18:04] #92 closed

[2020-09-16 18:41] drewolbrich commented on #96
@cgmaier I tried adding Giphy via `https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.3-Xcode-12/Giphy.podspec` as you posted above and clearing my CocoaPods cache and Pods directory, and running `pod update Giphy`, and I still see the same errors: (btw I'd rather not run a full `pod update` because that would update all the other pods we're including)

![Screen Shot 2020-09-16 at 11 35 35 AM](

[2020-09-16 18:46] tmspzz commented on #96
@drewolbrich  I don't think it's picking up the correct binary. Are you sure you're not including, say 1.3.0 ?

[2020-09-16 19:05] cgmaier commented on #96
<img width="507" alt="Screen Shot 2020-09-16 at 12 02 28 PM" src="https://user-images.githubusercontent.com/11489602/93380800-915c4880-f814-11ea-8f67-77c1330b89a4.png">
it works with 13.3 target deployment info - but when I bump up to 13.4 I get compile error, though different than those noted above.

seems similar to this issue, if not the same one:
https://github.com/Giphy/giphy-ios-sdk-ui-examp

[2020-09-16 19:29] mmdock commented on #92
@cgmaier  it still happens, but only occasionally and while I am attached to the debugger / opened by running via Xcode.  I am unable to make it happen in a Testflight build.  Usage of Giphy SDK has been released in my application for about a week now and there have been no Production crashlogs that look like this that I can see

[2020-09-16 19:55] joshavant commented on #97
I had to remove my `Podfile.lock`, too. But, yes, Cocoapods successfully downloaded that `.podspec`.

I'm having issues just getting a build to complete in Xcode 14 GM right now, so I can't confirm it successfully builds.

That said, looking at my Podfile.lock, I see that `PINCache 2.3` was the version that was resolved by Cocoapods to fulfill Giphy's dependency. So whatever was changed may not ha

[2020-09-16 20:11] cgmaier commented on #96
hey all - have an update! believe some aspect of these issues has to do with the extra architectures included in build process to support simulators for apple silicon Macs.

some discussion here:
https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/96

this works for me now for deployment targets below & above 13.4
[code]

[2020-09-16 20:11] cgmaier commented on #97
thanks for the update @joshavant - please check out my comment here:
https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/96#issuecomment-693639352

[2020-09-16 20:18] kaandedeoglu commented on #96
@cgmaier The instructions above did fix the issue here, amazing, and thanks for the quick investigation ⭐ 🥂 Can we expect you to make this into an official Podspec soon?

[2020-09-16 20:21] cgmaier commented on #96
very much appreciate the speedy confirm. yes I will push an official release shortly

[2020-09-16 20:41] tmspzz commented on #96
@cgmaier can you elaborate on how the issue is connected to the extra simulator arch for  Apple Silicon Macs?

[2020-09-16 20:47] drewolbrich commented on #96
@cgmaier This is working for me now using the podspec on AWS.

I had to take Xcode outside and have a stern conversation with it, but ultimately it came around.

[2020-09-16 20:47] drewolbrich commented on #96
@cgmaier Also, thank you !!! 😄

[2020-09-16 20:50] cgmaier commented on #96
hey @tmspzz I pasted the wrong link following `some discussion here: ` - https://github.com/Carthage/Carthage/issues/3019

my high level understanding of the issue is that Xcode 12s command line build process produces duplicate architectures in order to support simulators on the new Apple Silicon macs (arm) which create conflicts. I believe the solution provided in the above thread is to exclude t

[2020-09-16 21:21] drewolbrich commented on #96
@cgmaier If you don't can, please post here when the next official release is available.

[2020-09-17 02:26] cgmaier commented on #92
thanks for the follow up @mmdock

[2020-09-18 14:20] Morniak commented on #95
I'm using
[code]
since the 2.0.3-Xcode-12 version don't compile on my side (I'm working on XCode 11.7). It fix the crash but I'm getting another issue. The `GPHMediaView` do not display anything when setting a media instantiated by myself. I updated the repo with this issue (https://github.com/Morniak/YUNoWorkGiphy/blob/master/YUNoWorkGiphy/ViewController.swift).

[2020-09-18 19:04] PureBreadd commented on #96
We have a bunch of other Pods in our Podfile and when after running the recommended commands above, we end up with a bunch of new errors ("duplicate architecture symbols", among others). If we uninstall all Pods and then reinstall all Pods, it removes all of our new errors, but the original error from this chain still persists. Please let us know when the official updated release is available for

[2020-09-23 18:37] drewolbrich commented on #96
@cgmaier I have been using `https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.3-Xcode-12/Giphy.podspec` for the last week and it's working great, thank you.

However, I just discovered that in the simulator, it only appears to work for debug builds.

Non-debug builds fail with this error:

![Screen Shot 2020-09-23 at 11 09 16 AM](https://user-images.githubusercontent.com/12141562/94052011-3a62

[2020-09-24 11:36] Morniak opened #98 "Locally instantiated GPHMedia don't seems to work"
Creating a `GPHMedia` with the convenience init method do not display anything when set to a `GPHMediaView`.

[code]

You can find a project reproducing this issue here https://github.com/Morniak/YUNoWorkGiphy.
Just put your API key in the AppDelegate.

[2020-09-24 12:14] Vaberer commented on #98
Confirmed. It has just stopped working. Is it just a temporary issue?

[2020-09-25 17:17] beamPacer opened #99 "Clearing the search field does not clear the search results"
Entering text into the search text field changes the gif results to match that search; but if you hit the little ⓧ button in the search field, the search results stick around. I made a gif of this happening using Giphy Capture :) Sorry about the slightly potato quality, I was trying to keep the file size below 10Mb.

![giphy-search-issue](https://user-images.githubusercontent.com/1409593/94297276-

[2020-09-26 15:09] Vaberer opened #100 "Still rendition types are not working"
I'm presenting a `GiphyViewController` with `originalStill` rentitionType and the it's not showing any results.
I also tried other still rendition types but it's always empty.

I gave another try with a `GiphyGridController` and setting rentitionType to still but the same.
I can confirm it worked when I was implementing it 2 months ago.

[code]

[2020-09-26 15:28] Vaberer opened #101 "Reseting GPHMediaView animation"
Hello, I couldn't find anywhere in the docs how to reset an animation for `GPHMediaView`. I need to start looping the animation from the beginning. How can I do that?

[2020-09-27 08:53] Vaberer commented on #100
I found that the tiles are there, I can also scroll but the still images aren't visible. If I change the rendition type to `.original`, it's working.

I'm attaching a screenshot.

![IMG_6B78E6869DDA-1](https://user-images.githubusercontent.com/8090436/94360679-76f55b00-00af-11eb-86e3-95c5f9e33180.jpeg)

[2020-09-28 06:59] Vaberer commented on #100
Hello guys, I have one more important info, `still` rendition types don't work on Xcode 12. I have just built it in Xcode 11.7 and it's working. I Hope, it helps.

[2020-09-28 19:48] cgmaier commented on #96
hey all, I've finally pushed an official release here https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.0.3

[2020-09-28 19:49] cgmaier commented on #96
@drewolbrich I am seeing another workaround here: https://github.com/Carthage/Carthage/issues/3019#issuecomment-698895501

[2020-09-28 19:49] #96 closed

[2020-09-28 19:49] #97 closed

[2020-09-28 19:50] #95 closed

[2020-09-28 19:51] cgmaier commented on #98
hi @Morniak thanks for flagging this! unfortunately this method of instantiating `GPHMedia` is not supported. I will make a note to hide this constructor interface in a future release.

[2020-09-28 19:54] cgmaier commented on #100
hey @Vaberer that's interesting! I'm curious to have a look at what's happening here with still renditions, though I'm also curious why you are choosing to go with stills. we normally recommend that developers do not adjust the `renditionType` property from the `fixedWidth` default. if performance is a concern, you may also try the `downsized` renditions.

[2020-09-28 19:56] cgmaier commented on #101
hey @Vaberer you should be able to do something like `mediaView.currentAnimatedImageIndex = 0`

[2020-09-28 19:56] cgmaier commented on #99
nice catch @beamPacer will look at this soon 🥇

[2020-09-28 23:16] nalexn commented on #72
Any update on this? If I set deployment target for `DeepDiff` to iOS 10, I get "Cannot load underlying module for 'DeepDiff'"

[2020-09-29 02:22] cgmaier commented on #72
hey there @nalexn - apologies for the silence on this issue. haven't had a chance to do a deep dive into this. I'm not sure if the original issue description is still relevant --

what version of the GIPHY SDK are you using?

the current min deployment target for the SDK is 10.2 - this was necessary to make the things compatible with future compiler versions

[2020-09-29 08:01] nalexn commented on #72
The original description is relevant, though the message has slightly changed as DeepDiff's min deployment target has been bumped to 12.1 already.

GiphySDK SDK 2.0.3, Xcode 12.0.1

[2020-09-29 14:11] cgmaier commented on #72
is it possible to share an example project which demonstrates this issue? I'm not able to reproduce.

[2020-09-29 14:11] #98 closed

[2020-09-29 14:12] #101 closed

[2020-09-30 05:57] Vaberer commented on #100
Hello @cgmaier. Thank your reply. Currently, I'm just experimenting with static giphy images. If you need any further assistance, just let me know. I'm happy to help.

[2020-09-30 11:40] DanielZanchi opened #104 "'NSInvalidArgumentException' after presenting GiphyViewController()"
I'm trying to present the GiphyViewController() but I get this error:

In my AppDelegate (_didFinishLaunchingWithOptions_) I'm running:
`Giphy.configure(apiKey: "my api key")
`

In my view controller I'm presenting the Giphy UI Controller this way:
[code]

As soon as the Giphy controller appears the application crashes with the error I quoted above.
Why is this happening?

[2020-09-30 14:46] cgmaier commented on #104
hey @DanielZanchi, seems like there could be a mismatch of PINCache versions. not sure how that would arise as the required PINCache version is defined in the `Giphy.podspec` file.

can you please clarify
- what version of `PINCache` is denoted in your `Podfile.lock`
- are you using `PINCache` independently of GIPHY?

I also recommend trying the following commands:
[code]

[2020-09-30 18:42] DanielZanchi commented on #104
Inside the 'Podfile.lock' I see that it's using PINCache 2.0.
I'm not using PINCache independently of GIPHY.

I tried does commands but they didn't help.

[2020-09-30 18:45] cgmaier commented on #104
I tried making a new test app and was not able to reproduce any crash. without additional details or a sample project, I can't help

[2020-09-30 18:48] DanielZanchi commented on #104
Just wondering, can it be a problem with my API key?

[2020-09-30 19:14] DanielZanchi commented on #104
What version do you have on your `Podfile.lock`?

[2020-09-30 19:25] DanielZanchi commented on #104
Fixed using this in my podfile:
`pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.1/Giphy.podspec'
`

[2020-09-30 20:30] cgmaier commented on #104
what version of Giphy were you using before? what Xcode version are you using?

[2020-09-30 20:58] DanielZanchi commented on #104
Xcode version 12.0.1

Before I imported Giphy with _pod Giphy_

[2020-10-01 12:51] GRGBISHOW opened #105 "'GPHClient' has no member 'search'"
Couldn't find any other alternative APIs for search and trending in GIPHY 2. Any help? or Should I Implement GIPHY UI compulsorily?
Just upgraded to Xcode 12 and updated GIPHY 2 to support new compiler.

![Screen Shot 2020-10-01 at 18 36 27](https://user-images.githubusercontent.com/20558114/94811392-06cf3800-0415-11eb-91a8-fcb32acd1d8d.png)

[2020-10-01 19:31] KrisConrad commented on #96
@cgmaier when using the official v2.0.3 sdk my app crashes now after presenting the GiphyViewController. It looks like the crash is happening somewhere in PINCache.

When using the podspec linked in previous comments the crash does not happen. It looks like that pod spec is installing PINCache 2.3 where the official one installs v2.0.

[2020-10-02 18:17] drewolbrich commented on #96
@cgmaier

Thank you, this worked beautifully.

[2020-10-02 18:55] delba commented on #104
Same issue after clearing the cache and updating from `2.0.2` to `2.0.3`:

[code]

Giphy `2.0.2` used to rely on PINCache (not versioned but resolved to `3.0.1`).
Giphy `2.0.3` relies on `PINCache ~> 2.0.0` (effectively uses `2.0`).

@cgmaier what version of PINCache do you see in your `Podfile.lock` ?
By the way, the test app attached to `v2.0.3` still uses `https://s3.amazonaws.com/sdk.mobile.gi

[2020-10-03 18:37] AlexClarkQP commented on #104
For what it's worth this is happening to me as well. Unfortunately I need Giphy 2.0.3 for the fixes to the AV Foundation compilation error with previous versions (so going back to 2.0.1 won't work for me).

Looks like if I go pre 2.0.3 I can't compile (AV Foundation error) and if I go 2.0.3 I can't select any Giphy (unrecognized selector error). I'm happy to help and provide any more info if it he

[2020-10-03 19:12] cgmaier commented on #104
hey guys, sorry for the lack of support here. I believe this is a matter of deployment target. GIPHY 2.0.3 requires iOS 10.2 of above - I believe there were technically reasons for this change. hopefully it's not overly restrictive. thanks for your patience. we are working on a more sustainable system for distributing and maintaining the GIPHY SDK.

[2020-10-03 19:17] AlexClarkQP commented on #104
No worries, you guys are always super helpful. My deployment target is 13.0 but I still get Giphy 2.0.2 on pod update if that helps any.

[2020-10-03 19:32] cgmaier commented on #104
can you check the deployment target in specific target settings rather than project settings? there must be something about your Xcode project or Podfile which is instructing CocoaPods that 10.2 is too restrictive

[2020-10-03 19:42] AlexClarkQP commented on #104
Here are the xcode settings and podfile targets. Please let me know if anything else is helpful.

<img width="300" alt="Screen Shot 2020-10-03 at 12 40 54 PM" src="https://user-images.githubusercontent.com/54222682/95000454-d3f08580-0575-11eb-8d25-31a7e90e307e.png">
<img width="240" alt="Screen Shot 2020-10-03 at 12 37 33 PM" src="https://user-images.githubusercontent.com/54222682/95000456-d652df8

[2020-10-05 12:59] Vaberer commented on #100
Hello @cgmaier, do you have any progress regarding the still rendition type?
Thanks for your time and reply

[2020-10-06 06:42] gouen95 opened #107 "Network/Error handling delegate"
Would like to see an error handling delegate so that I know that content is somehow failed to retrieve and provided retry capabilities to user.

[2020-10-06 09:34] jetsekoopmans opened #108 "Translate 'Search GIPHY'"
GIPHY SDK Version: 2.0.3

Is is possible to translate the text in the search bar? It is now always 'Search GIPHY'.

[2020-10-06 14:37] robksawyer commented on #104
My deployment target is 13.2 and I have the latest Giphy pod 2.0.3 (right?) and it's having the same issue.

[code]

[code]

[2020-10-06 14:51] robksawyer commented on #104
So when I installed the version 2.0.1, this happened.

[code]

Why is an older version of PINCache being used with a new version of Giphy?

[2020-10-06 15:09] robksawyer commented on #104
I fixed my issue by using  pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.2/Giphy.podspec'

[2020-10-06 16:42] cgmaier commented on #104
hey all, apologies for this issue. thanks again for your patience. this should be fixed in 2.0.4 which you can get via
[code]
and `pod update Giphy`
or
[code]

[2020-10-06 20:50] cgmaier commented on #108
hey @jetsekoopmans I will look into this and get back to ya soon! thanks

[2020-10-06 20:53] cgmaier commented on #96
hey @KrisConrad my apologies for the late reply. this is now fixed in 2.0.4.

[2020-10-06 20:54] KrisConrad commented on #96
Awesome, thanks!

[2020-10-07 14:03] DanielZanchi opened #109 "Trending results"
is the top bar where the user can select the trending categories work?
On the tap, nothing happens at the moment.
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-10-07 at 15 57 21](https://user-images.githubusercontent.com/6886116/95341432-8c8c3100-08b6-11eb-9efa-6a260caf5b4d.png)

**Podfile.lock**
`  - Giphy (2.0.1):`

[2020-10-07 14:09] #109 closed

[2020-10-09 20:48] scottiedog45 opened #110 "How to display menu on standalone GiphyYYAnimatedImageView?"
Hello!

I'm a bit new to the GiphySDK- it looks like a great tool for search and discovery.

Is it possible to display a giphy with the built in functionality of showing the Menu on a Long Press?

Here's the SwiftUI code I'm working with. I can get the the giphy to display, but it no menu appears when I long tap on it.

Is there a built in method that would accomplish this that I'm missing?

Thank

[2020-10-11 06:55] binodav opened #111 "Build Failed 2.0.4"
I'm using XCode 11.6

After upgrade to version 2.0.4, build failed with below error:

After downgrade to 2.0.2, it build successfully.

[2020-10-12 06:01] Vaberer commented on #100
Hello, @cgmaier is there a change to fix this in a near future?
Thanks for your time.

[2020-10-13 19:48] cgmaier commented on #111
hey @binodav we're no longer supporting Xcode 11.6

[2020-10-13 19:48] #111 closed

[2020-10-14 17:34] scottiedog45 commented on #110
I think I need to add the functionality manually if the giphy is being displayed outside the context of a grid or search result list.

[2020-10-14 17:34] #110 closed

[2020-10-16 12:46] SocialKitLtd commented on #49
Can't wait!

[2020-10-20 05:28] Vaberer commented on #100
Hey @cgmaier would you please have some time to take a look at rendering still types?
Many thanks!

[2020-10-23 15:27] #104 closed

[2020-10-23 15:29] cgmaier commented on #35
we are unable to support this request for the foreseeable future.

[2020-10-23 15:29] #35 closed

[2020-10-23 15:32] cgmaier commented on #105
this is a private method and we have no plans to make this method public unfortunately

please reach out to integrations@giphy.com for additional support

[2020-10-23 15:32] #105 closed

[2020-10-23 15:32] cgmaier commented on #91
hey @binodav this should be fixed in the latest release:
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.0.5

[2020-10-23 15:32] #91 closed

[2020-10-23 15:32] cgmaier commented on #99
hi @beamPacer this is fixed in the latest release:
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.0.5
thanks!

[2020-10-23 15:32] #99 closed

[2020-10-23 15:35] cgmaier commented on #100
hey @Vaberer apologies for the late reply. As GIPHY is all about being _animated_, still rendition support is not something we can provide at the moment. We think the content shines the best when it moves :)
sorry we can't accommodate your request here.

[2020-10-23 15:35] #100 closed

[2020-10-23 15:36] cgmaier commented on #107
hey @gouen95 thanks for the suggestion. are you using a `GiphyGridController`-based solution, or the `GiphyViewController`?

[2020-10-23 15:37] #72 closed

[2020-10-23 15:37] #71 closed

[2020-10-23 16:03] gouen95 commented on #107
I'm using the GipgyGridController solely just to display GIFs, but the problem I faced is if there's no internet or somehow Giphy failed to retrieve data, I wouldn't have a proper way to tell user what's wrong. What I've done is a custom implementation involving timer and timeouts.

One good thing is where I searched for gibberish such as 'gameigoaejio34aweda', GiphyGridController would return me

[2020-10-23 17:21] beamPacer commented on #72
@cgmaier , @nalexn -- here's a test project that shows the issue. This was created by creating a vanilla project using Xcode 12.0.1; integrating Cocoapods incl. `pod Giphy` into that existing project following the boring, normal steps [at this link](https://guides.cocoapods.org/using/using-cocoapods.html) and adding `platform :ios, '11.0'` to the top of the Podfile; running `pod install` like norm

[2020-10-24 07:08] Vaberer commented on #100
I believe Giphy is all about images. The sdk says, it supports still images and it worked with Xcode 11.
Will you remove still rendition types from docs and remove it from sdk if you don't want to support stills?
Thanks

[2020-10-24 07:14] Vaberer opened #113 "Still rendition types not working"
When setting `rendtitionType` to any value of `still` types, `GiphyViewController` shows blank images. Since documentation and sdk include `still` rendition types, it's a bug and let's keep track of the progress of this issue.
I'm happy to assist and help to debug this issue.

[2020-10-29 09:08] Vaberer commented on #113
Any updates regarding this issue? Looks, the URL is correct https://media4.giphy.com/media/l378ifi3c4pTHpXUY/giphy_s.gif?cid=12faed9dapl055s12r0a04jg48087un16esdxwsxl38ucu90&rid=giphy_s.gif but the sdk doesn't show the images.
I also found that
`media.url(rendition: .originalStill, fileType: .gif)`
or
media.url(rendition: .originalStill, fileType: .webp)
don't work, too.

[2020-11-03 07:13] chitvan832 opened #114 "Showing All Messages Undefined symbol: __swift_FORCE_LOAD_$_swiftAVFoundation"
I am facing this issue in my project thus thought of trying in sample project
After installing the pod in the sample swift project I get the above error. I am using Xcode 12.0.1
<img width="1406" alt="Screenshot 2020-11-03 at 12 40 37 PM" src="https://user-images.githubusercontent.com/25215903/97957868-13f39400-1dd2-11eb-9e1e-3fd13700f97a.png">

[2020-11-03 12:04] thorfroelich commented on #114
This issue seems to only manifest on Xcode 12.0. Xcode 12.1 works as expected.

[2020-11-03 12:34] chitvan832 opened #115 "Missing required module 'PINCache'"
In Xcode 12.1
After adding:
pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.7/Giphy.podspec'
and installing i am seeing error `Missing required module 'PINCache'`. Please check screenshot.
![Screenshot 2020-11-03 at 6 01 56 PM](https://user-images.githubusercontent.com/25215903/97985723-aad64580-1dfe-11eb-9829-59fc4a0eb214.png)

This solution didn't work
https://git

[2020-11-03 12:36] chitvan832 commented on #114
@thorfroelich i updated my xcode but now i am seeing other error:
https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/115

[2020-11-03 15:06] cgmaier commented on #115
@chitvan832 do you have the `use_frameworks!` flag in your Podfile?

[2020-11-04 12:43] chitvan832 commented on #115
Adding `use_frameworks` solved the problem. Thanks

[2020-11-04 13:35] Igor-Poltavtsev opened #116 "downloadAsset and gifByID closure don't called on timeout"
GPHCache.shared.downloadAsset and GiphyCore.shared.gifByID closure don't called on timeout (e.g. no connection).
Is it a bug or we can get this notification in some other way?
Thank you.

[2020-11-04 14:56] #114 closed

[2020-11-04 14:59] chitvan832 opened #117 "How to set template as carousel."
I cant find any documentation related to this.

[2020-11-04 15:54] cgmaier commented on #117
hey @chitvan832 can you elaborate on what you're trying to achieve?

in order to achieve a single-row horizontal layout, you can achieve this with the `GiphyGridController`

[2020-11-04 16:09] chitvan832 commented on #117
I am trying to achieve below look. This picture is taken from: [https://developers.giphy.com/docs/sdk#ios](url)
<img width="234" alt="Screenshot 2020-11-04 at 9 38 36 PM" src="https://user-images.githubusercontent.com/25215903/98135663-1b0bc680-1ee6-11eb-90d3-e91e062e1478.png">

[2020-11-04 17:29] cgmaier commented on #117
I will make a note to my team to have this image removed as it's out of date - sorry about that !

you can implement this stye of design using the `GiphyGridControler`, however you will have to build your own search bar

[2020-11-04 19:19] chitvan832 commented on #117
Ohh is it. Anyway thanks for the quick response.

[2020-11-05 15:58] GalCohen opened #118 "Where can I find a document of data collected by the giphy SDK?"
Hi all. I'm sure some data is collected on usage, search results, etc.? Where can I find out what that is? Thanks!

[2020-11-05 17:27] cgmaier commented on #118
hey @GalCohen, good question !

we don't currently provide analytics externally, however you are able to wire up your own events to capture how your users are interacting with features provided by the GIPHY SDK via the GiphyDelegate callbacks

[2020-11-05 17:31] GalCohen commented on #118
Appreciate the quick response, @cgmaier . I meant data that *you* collect. Surely you collect some things, if only to track trending gifs - That sort of stuff. Need it for privacy, legal and management reasons but can't find exactly the right docs.

[2020-11-05 17:40] cgmaier commented on #118
Thanks for clarifying!

please shoot an email to integrations@giphy.com and our team can help answer any qs around data collection

[2020-11-06 16:08] GalCohen commented on #118
Thank you!

[2020-11-06 16:08] #118 closed

[2020-11-09 17:16] PasqualePuzio commented on #108
Any news on this? Thanks

[2020-11-09 18:19] jerrodputman commented on #113
The issue seems to occur in `GiphyYYImageView` due to UIKit changes. A similar issue is described for SDWebImage here: https://github.com/SDWebImage/SDWebImage/issues/3040

Downloading the `still` through the `GPHCache.shared.downloadAsset` method and looking at the image in the debugger, the image is downloaded correctly. However, assigning that image to `GiphyYYImageView` produces an invisible v

[2020-11-10 15:49] VittoriDavide commented on #108
It'd be excellent to have this feature

[2020-11-11 14:36] PasqualePuzio commented on #108
@cgmaier is there a way to customize strings in GiphyViewController ?

Thanks

[2020-11-12 14:15] ifabijanovic commented on #113
Can someone from the Giphy team respond here? The fix seems simple enough and this is a blocker for us upgrading to Xcode 12

[2020-11-12 14:21] cgmaier commented on #113
hey there, sorry for the silence. the fix @jerrodputman has suggested will be included in a new release later today.

[2020-11-12 18:29] ifabijanovic commented on #113
Wait are you thinking on the lines of using the `animatedImages` workaround or the fix that was made in SDWebImage (https://github.com/SDWebImage/SDWebImage/pull/3043)?

[2020-11-12 23:08] cgmaier commented on #113
@ifabijanovic yup - any concerns with that?

[2020-11-13 11:07] ifabijanovic commented on #113
Our concrete problem is with using `GPHMediaView` essentially as a `UIImageView` in some cases - setting the `image` property does not actually display that image when built with Xcode 12 (when inspected in the design debugger the image layer is there but it is invisible). We do that in some places which can either show a local image, remote image or a gif. The suggestion of just assigning the loa

[2020-11-13 22:33] #117 closed

[2020-11-13 22:33] cgmaier commented on #113
hi - this should be properly addressed in `2.0.8`

[2020-11-13 22:34] cgmaier commented on #108
hey all, we've provided this option via a new property of `GiphyViewController` in v2.0.8
[code]

[2020-11-14 01:44] PasqualePuzio commented on #108
Thank you very much for this new property. Very much appreciated.

What about the Select button in the confirmation page? Can that title be customized?

Thank you

[2020-11-16 14:31] VittoriDavide commented on #96
Hi @cgmaier,

I am building with Xcode 12.2, and Giphy version 2.0.7 and I am having a the same issue this time for swift version 5.3.1

Failed to build module 'GiphyUISDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.1 (swiftlang

[2020-11-16 14:50] VittoriDavide opened #119 "Xcode 12.2 Build Error"
Hi,

I am building with Xcode 12.2, and Giphy version 2.0.7 and I am having the same issue https://github.com/Giphy/giphy-ios-sdk-ui-example/issues/96 this time for swift version 5.3.1

Failed to build module 'GiphyUISDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)', may have used features that aren't supported by thi

[2020-11-16 19:13] JoeFerrucci commented on #119
I'm also getting both of these. Needs updates soon 😕

[code]
and
[code]

[2020-11-16 19:23] cgmaier commented on #119
Hey there thanks for using GIPHY

the latest version of GIPHY SDK is v2.0.8

not sure why Xcode 12.2 swift compiler decided to break things. try increasing your deployment target or stick with Xcode 12.1 for the time being.

I'm on vacation this week but hope to look at this soon

[2020-11-17 02:23] cgmaier commented on #119
hi @JoeFerrucci @VittoriDavide please try:
[code]

have some ideas to prevent this in the future

[2020-11-17 02:24] cgmaier commented on #119
@VittoriDavide can you confirm whether your error messages also noted 'DeepDiff' ?

[2020-11-17 08:25] VittoriDavide commented on #119
Hi @cgmaier, I tried

`pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.9/Giphy.podspec'
`

and is building okay on Xcode 12.2

[2020-11-18 21:37] beamPacer opened #120 "Carthage Support 🙁"
Hi! I see that as of version 2.0.3, there's no Carthage support for this distribution. That's inconvenient for us, because we don't use Cocoapods anymore. :(

We'll fork this repo or otherwise make this work to add Carthage support back, but it's unfortunate that we have to spend the time doing this. Two questions: 1) Do you have any plans to add Carthage support back here, and 2) Is there a reaso

[2020-11-19 00:58] cgmaier commented on #120
hey @beamPacer , v sorry to hear about this.

the vast majority of Github issues and requests from our partners over the past 6 months have related exclusively to CocoaPods integrations, and so we felt it was worthwhile to focus our efforts elsewhere instead of maintaining and testing Carthage for every release.

unfortunately it might be a good bit of work for us to get up and running with Cartha

[2020-11-19 01:22] alanzeino opened #121 "SDK incompatible with Apple Silicon simulator"
The precompiled framework vended for the Giphy framework doesn't seem to have an arm slice. I narrowed this down by creating a new Xcode project, then setting it up for Cocoapods with the latest Giphy version right now (2.0.8).

I get different errors on different projects, on the new one I get compiler errors with the DeepDiff dependency Giphy has:

[code]
In the other one, I get this:

[code]

S

[2020-11-19 03:28] cgmaier commented on #120
took a look and made some progress, though it seems ive run into this issue https://github.com/Carthage/Carthage/issues/3019

specifically for compiling the dependencies `DeepDiff` and `PINCache`

[2020-11-19 13:19] cgmaier commented on #120
hey @beamPacer I was able to support Carthage for the latest release.

1. Add the following entries to your Cartfile like so:
[code]
 2. Add `-ObjC` to the `Other Linker Flags` Build Setting

 3. Add `PINCache.framework`, `PINOperation.framework`, `DeepDiff.framework`, `GiphyCoreSDK.framework`, `GiphyUISDK.framework` from `Carthage/Build/iOS` into your project.

 4. Create a new Run Script under B

[2020-11-19 17:35] beamPacer commented on #120
Oh that's amazing, thank you so much!! I'm not able to download the GiphyCore and GiphyUI frameworks, though -- when i add `binary "https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/GiphySDK.json"` to my cartfile and run `carthage update GiphySDK`, nothing gets added to the /Build/iOS folder. I've tried it with and without `--platform iOS` -- is this working for you, am I doing something wrong?

[2020-11-19 17:57] beamPacer commented on #120
Oh also, looking at https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/GiphySDK.json, it looks like the last version in there is 2.0.3. Did you mean to send me a different json link?

[2020-11-19 19:25] cgmaier commented on #120
hmm just tried again from scratch and things appear to work ok for me:

<img width="1239" alt="Screen Shot 2020-11-19 at 12 23 17 PM" src="https://user-images.githubusercontent.com/11489602/99713970-389e6b80-2a62-11eb-8d9c-3133e4786966.png">

here's the sample project:
https://www.dropbox.com/s/0wmajvmt1wg7sqp/test-carthage.zip?dl=0

[2020-11-19 21:38] beamPacer commented on #120
No, unfortunately it's still not pulling down for me :( I wonder if it's a binary that only you have access to, something Carthage is able to pull down for you because your machine is credentialed differently than mine? Only reason I can think. Anyway, I used the version _from_ the sample project you linked, and that worked!

[2020-11-19 21:43] cgmaier commented on #120
can you try in a blank Xcode project? don't think it's a credentials issue. I wonder if the binary download doesn't play nice if the project has a Carthage folder already all setup.

[2020-11-20 12:42] Vaberer opened #123 "Read and change animation duration"
Is it possible to find what's the duration of the sticker animation? Is it possible to change the duration or FPS?

[2020-11-20 18:04] beamPacer commented on #120
Tried it in a brand new project _and_ in your project, separately -- neither one of them download it :(

[2020-11-23 17:32] zintus commented on #119
2.0.9 worked for me on 12.2, thanks!

I'm not sure but maybe swift module stability should help with this?

[2020-11-24 08:56] andreyoshev commented on #49
+1

[2020-11-24 09:40] Sunrizzin commented on #49
+1

[2020-11-24 09:41] smocer commented on #49
up

[2020-11-24 09:42] osipovka commented on #49
hi, any news here?

[2020-11-25 16:07] rfremont opened #124 "Couldn\'t cast GPHMediaResponse to GPHMediaResponse during JSON response parsing"
Hello,
Today we have this error when we use the method **GiphyCore.shared.gifByID**
**_Couldn\'t cast GPHMediaResponse to GPHMediaResponse during JSON response parsing_**
Our test id is l0HlC8RL28UGUAlmU
Server or SDK issue ?
Thanks

[2020-11-26 00:24] cgmaier commented on #124
hey @rfremont are you still experiencing this issue? I'm not able to reproduce

[2020-11-27 09:37] rfremont commented on #124
Yes no more issue today, I think it was an issue from the giphy server

[2020-11-27 09:37] #124 closed

[2020-12-04 16:39] KrisConrad opened #126 "Support for Catalyst"
When trying to build for a mac using Catalyst I get the following error:

[code]

[2020-12-04 17:11] cgmaier commented on #120
we still aren't able to reproduce this on our end - we also tested on a machine with no aws credentials
any ideas?

[2020-12-09 07:43] ravistegowl opened #127 "Error"
/Pods/Target Support Files/Pods-GiphyDemo/Pods-GiphyDemo-frameworks.sh: line 131: ARCHS[@]: unbound variable
Command PhaseScriptExecution failed with a nonzero exit code

[2020-12-14 09:08] andreyoshev commented on #49
up

[2020-12-14 15:09] cgmaier commented on #49
hey all - thanks for bumping this. we had a chance to make some good progress on this. we plan to support 'officially' in early 2021.

[2020-12-14 23:38] joeldrotleff commented on #126
Same

[2020-12-16 14:18] jetsekoopmans commented on #126
Same here...

[2020-12-16 19:07] dylmye commented on #115
I'm having this issue and adding `use_frameworks!` meant I could no longer run pod install / upgrade, I'd get CocoaPods/CocoaPods#7234 and the solution to that is to comment out use_frameworks!. Should I make a new issue?
![image](https://user-images.githubusercontent.com/7024578/102393833-cd987400-3fd0-11eb-9b5e-c3916ae906c9.png)

Thanks

[2020-12-16 19:48] cgmaier commented on #126
hey all, thanks for bumping this up! we achieved a proof of concept for Catalyst support a while back & everything adapts surprisingly well

unfortunately we won't be able to release this until the new year

[2020-12-16 19:49] cgmaier commented on #115
hey @dylmye can you please confirm your version of Xcode as well as the GIPHY SDK version?

[2020-12-16 20:27] dylmye commented on #115
Hiya

XCode 12.2 12B45b
Giphy SDK 2.0.9 (I think that's what you mean?)

Thank you

[2020-12-16 20:49] joeldrotleff commented on #126
Great to hear, thanks

[2020-12-17 00:37] alanzeino commented on #121
`pod update Giphy` to 2.0.9

[2020-12-17 00:37] #121 closed

[2020-12-17 17:12] dylmye commented on #115
So I made a new react native project with `npx react-native init`, added the react-native-giphy-keyboard repo with a fork I made with no changes so I can make changes to the project. So it should be reproducible.

If I use use_modular_headers! I get this instead:

<details><summary>Stack trace</summary>

[code]

</details>

Or if I do `pod 'Giphy', :modular_headers => true` I get this:

<details><

[2020-12-24 07:40] sachinTechugo opened #128 "Facing Command PhaseScriptExecution failed with a nonzero exit code"
Getting this error using Xcode 11.3.1
PhaseScriptExecution [CP]\ Embed\ Pods\ Frameworks /Users/techugo/Library/Developer/Xcode/DerivedData/Example-fxmvjncsrzmvxlfwhamrjnnleewt/Build/Intermediates.noindex/Example.build/Debug-iphonesimulator/Example.build/Script-A717C15B7C7692959A9CCBBE.sh (in target 'Example' from project 'Example')
    cd /Users/techugo/Downloads/giphy-ios-sdk-ui-example-master-2

[2020-12-28 10:22] sachinTechugo opened #129 "How we get non animated stickers"
i am using this SDK and passed type .stickers but i am getting animated stickers but i want no animated stickers, how wen can achieve this?

[2021-01-04 14:31] ekurutepe opened #130 "GiphyViewController present with search bar pre-filled"
In our app we'd like to allow users to select words in text and open `GiphyViewController` with the selected word pre-filled for search.

Is this possible?

[2021-01-04 19:37] cgmaier commented on #130
hey @ekurutepe - you'd have to use the `GiphyGridController` to achieve this customization

[2021-01-04 19:38] cgmaier commented on #129
hi @sachinTechugo GIPHY GIF stickers are animated assets - we do not provide a library of static images.

[2021-01-04 19:38] cgmaier commented on #128
hi @sachinTechugo are you still experiencing this issue?
please update to the latest Xcode, if possible.

[2021-01-04 19:38] #127 closed

[2021-01-04 19:39] #119 closed

[2021-01-05 12:16] ekurutepe commented on #130
I thought as much but I was able to hack this with this:
[code]

[2021-01-07 14:02] gogoslab opened #131 "Release notes for iOS 2.1.0 are wrong"
In your release notes for iOS 2.1.0 you suggest to use the command
`pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.9/Giphy.podspec'` in the Podfile to use 2.1.0, but the link is related to 2.0.9.

I think it should be
`pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.1.0/Giphy.podspec'` to use 2.1.0 version

[2021-01-07 16:29] cgmaier commented on #131
hey thanks so much @gogoslab : )
just fixed

[2021-01-07 16:29] #131 closed

[2021-01-07 16:29] #129 closed

[2021-01-07 16:30] #128 closed

[2021-01-07 16:33] cgmaier commented on #123
hey @Vaberer we don't currently support this functionality

you're of course welcome to obtain the .gif or .web asset and find some method of achieving what you want

[2021-01-07 16:33] #123 closed

[2021-01-07 16:33] #113 closed

[2021-01-10 07:46] adxworld commented on #32
Hey can you guide me on how to do this in a videoComposition in AVExportSession. I would really really appreciate pointers and I am really unable to get an idea. I dont want you to give me the code. But please point me in right direction a bit more detailed that the previous answer

I even have a question posted here : https://stackoverflow.com/questions/65575445/avexportsession-add-uiview-with-gi

[2021-01-12 08:42] jetsekoopmans commented on #126
Good to hear! Any updates?

[2021-01-15 05:08] cgmaier commented on #126
hey @jetsekoopmans and others - thanks for your patience! we've been a bit busy with our yearly planning but had a chance to dig into this today and was able to get the following podspec to work for Mac Catalyst:

[code]

a couple of notes:

- Remove all `import GiphyCoreSDK` lines from your code base - everything is now consolidated into `GiphyUISDK`.

- I also found it was necessary to add `ObjC

[2021-01-16 11:24] ergunkocak opened #133 "Remove `user_target_xcconfig` settings"
Blocker issue for the release:

What i have in console:

[!] Can't merge user_target_xcconfig for pod targets: ["Giphy", "mopub-ios-sdk", "Core", "MoPubSDK", "NativeAds"]. Singular build setting EXCLUDED_ARCHS[sdk=iphonesimulator*] has different values.

This started happening when i increased my minimum build target from 10.0 to 11.0

Solution:
https://github.com/CocoaPods/CocoaPods/issues/3813
h

[2021-01-18 17:57] cgmaier commented on #133
hey @ergunkocak can you try this and let me know? we've switched to .xcframework which will hopefully resolve this issue

[code]

official release planned for later this week

thanks!

[2021-01-19 06:54] chenshengzhi opened #134 "GiphyGridController.numberOfTracks for iPad"
GiphyGridController.numberOfTracks is limited between 0 and 5.
So cells size is too big for iPad.
Please remove this limitation.
Thanks

[2021-01-19 11:39] jetsekoopmans commented on #126
Hi @cgmaier,

Thanks for taking the time to update. The 2.1.1-beta is working when building for a simulator, my mac and 'Any Mac (Apple Silicon, Intel)'!

But when building for 'Any iOS Device (arm64)' I get the following errors:
* `unable to load standard library for target 'arm64-apple-ios10.0-simulator'`
* `Failed to build module 'GiphyUISDK' from its module interface; it may have been damaged

[2021-01-19 17:00] cgmaier commented on #126
thanks so much for testing @jetsekoopmans ! will take a look

[2021-01-19 17:36] cgmaier commented on #126
hey @jetsekoopmans any thoughts on how to reproduce? I'm able to successfully build `Any iOS Device (arm64)`

[2021-01-19 19:14] joeldrotleff commented on #126
I just tried installing the SDK @cgmaier listed and got a Catalyst build going successfully, and tested showing the Giphy menu as well anad that worked great.

I already had -Objc in Other Linker Flags, so not sure if that is necessary or not.

Sounds like others weren't so lucky so in case it's helpful here's some info:

My Xcode: 12.3
SDK minimum: 13.0
Cocoapods: 1.10.0
Mac: 11.1

[2021-01-20 01:02] cgmaier commented on #126
hey @joeldrotleff thanks for the confirm! @jetsekoopmans is it possible your issue is just a matter of cleaning / clearing derived data?

[2021-01-20 09:05] jetsekoopmans commented on #126
Got it. I had to clear derived data and update cocoapods to the latest version.

Thanks for the help @cgmaier and of course for the update! 👍

[2021-01-20 14:58] dolphinysaru opened #135 "Searchbar gestures questions and requests."
Can I prevent the view from moving with the gesture of the searchbar?

[2021-01-20 15:47] dylmye commented on #115
Using the modular headers flag and [this solution](https://github.com/google/glog/issues/393#issuecomment-465974652) fixed the issue for me.

[2021-01-20 16:17] #130 closed

[2021-01-20 16:18] #115 closed

[2021-01-20 16:19] cgmaier commented on #135
hey @dolphinysaru - do you mean you would like to disable the pan gesture which lets users close the GIPHY search tray?

can you offer more information why you would like to do this?

thanks!

[2021-01-20 23:40] cgmaier commented on #120
hey @beamPacer it seems like there are still some major blocking issues with Carthage. they don't currently support pre-compiled .xcframeworks. it was necessary to switch to xcframework to support the new M1 Macs, as well as Mac Catalyst and SPM (upcoming)

[2021-01-20 23:42] cgmaier commented on #126
sweet! official release notes here:

https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.1.1

[2021-01-20 23:42] #126 closed

[2021-01-20 23:43] cgmaier commented on #133
these settings have been removed with this release:
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.1.1

[2021-01-20 23:43] #133 closed

[2021-01-21 07:59] dolphinysaru commented on #135
cgmaier

GiphyViewController is not present and applied as rootViewController of navigationController.
So, the screen should always be placed on top, but I think it is an unnecessary motion because move the screen with gestures.

[2021-01-22 06:08] AdamBCo commented on #126
@cgmaier Unfortunately I'm running into the same problem.

Our app builds locally with the GiphySDK installed via cocoapods, but fails when going through the deployment process on Bitrise.

The complaint is: ❌  ld: symbol(s) not found for architecture x86_64

I also tried using the following beta, but no luck as well:

pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.1

[2021-01-24 20:58] cgmaier commented on #126
hey @AdamBCo - is the error message specific to the GIPHY SDK? I'm not too familiar with Bitrise - I take it you can successfully build with the GIPHY integration removed?

can you successfully run the 'release' scheme / archive locally?

I think that this issue is likely unrelated to Mac Catalyst support (and the under-the-hood switch the .xcframework), as those were added in the latest release 2

[2021-01-25 10:34] emrdgrmnci commented on #116
I am trying to save giphy gif added image to camera roll but I can't save with GPHCache.shared.downloadAsset and GiphyCore.shared.gifByID closures. Do you try save gif added image to camera roll?

[2021-01-26 15:25] Ngsetest opened #137 "Could not customize the tabBarSwitchSelectedColor"
Hello, I am using swift example app. Trying to override GPHTabBarButton image color, but it has no effect.
![image](https://user-images.githubusercontent.com/29040713/105865165-51477680-5ffb-11eb-8c6d-a1af35115a4d.png)
Giphy SDK version 2.1.1, iOS 14.1

[2021-01-27 01:57] cgmaier commented on #137
hey @Ngsetest thanks for catching this. we'll include a fix in the next release.

[2021-01-27 01:58] cgmaier commented on #134
thanks @chenshengzhi we'll include this change in the next release.

[2021-01-27 02:13] chenshengzhi commented on #134
🎉 Thank you

[2021-02-03 06:00] genegoykhman opened #138 "Suggest adding -ObjC to OTHER_LINKER_FLAGS in Getting Started guide"
Hey friends :wave:

We just ran into a snag with instantiating `GiphyViewController` causing a crash in a Swift app that didn't have `-ObjC` listed in `OTHER_LINKER_FLAGS`. I noticed that the SDK sample app has that flag so I added it to ours as well and it fixed things right up. Maybe that's something to add to the Getting Started Guide?

Here's the exact message when we tried to `present` GiphyV

[2021-02-03 20:35] cgmaier commented on #138
hey @genegoykhman ! wow what a trip seeing you here :) thanks for reaching out about this

the `-ObjC` flag is indeed strange - in the past it has only been necessary for for Carthage // not CocoaPods, but it appears it's become necessary to support Mac Catalyst. we have a task to learn more about the flag and see if there's a way we can adjust the SDK build settings so it's not necessary to the

[2021-02-03 23:56] msilva commented on #120
Hi @cgmaier - Can you re-evaluate this based on the latest release of Carthage supporting xcframeworks?

[2021-02-04 19:12] cgmaier commented on #137
hey @Ngsetest this is fixed with the latest release.
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.1.2
thanks!

[2021-02-04 19:12] #137 closed

[2021-02-04 19:13] cgmaier commented on #134
hey @chenshengzhi this limitation is removed in the latest release
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.1.2
thanks!

[2021-02-04 19:13] #134 closed

[2021-02-04 19:13] cgmaier commented on #116
hey @Igor-Poltavtsev we made this adjustment with the latest release. let us know if you have any issues!
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.1.2

[2021-02-04 19:13] #116 closed

[2021-02-04 19:14] cgmaier commented on #107
hey @gouen95 we added an additional parameter to `contentDidUpdate` callback. details here:
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.1.2
hope this helps!

[2021-02-04 19:14] #107 closed

[2021-02-04 19:19] cgmaier commented on #120
hey @msilva my understanding is that the latest Carthage release provides compiling of xcframeworks via the `--use-frameworks` flag, but doesn't allow distributing precompiled xcframeworks.

https://github.com/Carthage/Carthage/issues/3103

we will continue to include links to binaries in our release notes, so you may integrate them directly

[2021-02-04 22:57] cgmaier commented on #108
hi @PasqualePuzio sorry for the very long delay on this. the latest release includes customization for this string
https://github.com/Giphy/giphy-ios-sdk-ui-example/releases/tag/v2.1.2

[2021-02-04 22:57] #108 closed

[2021-02-04 22:58] cgmaier commented on #135
hey @dolphinysaru we don't plan to support this use case at the moment. if you would like more control over how the UI is presented, you're welcome to use the `GiphyGridController` component instead of `GiphyViewController`. sorry we can't be of more help here!

[2021-02-04 22:58] #135 closed

[2021-02-09 15:11] Aurazion opened #139 "Uncaught exception in -[GiphyUISDK.GiphySearchController registerKeyboardNotifications]:"
Hello,
I'm facing with a very weird crash, since I updated to Firebase SDK (7.5.0) (!), everytime when I present the `GiphyViewController`, I got this exception :
[code]
Very strange but everything works well with Firebase SDK v7.4.0 and I can't debug the `registerKeyboardNotifications` method because the source code is not available.

Here is my code for opening the Giphy VC :

[code]

Could you

[2021-02-09 16:01] cgmaier commented on #139
hey @Aurazion very sorry about this! please add `ObjC` to `Other Linker Flags` under Build Settings. We hope to have a solution so adding the flag isn't necessary in a future release.

[2021-02-09 17:11] Aurazion commented on #139
Thanks for your answer, I already have the `-ObjC` flag in my build settings but it still crash since Firebase was updated to the latest version. 🤷‍♂️

[2021-02-09 18:06] #139 closed

[2021-02-09 18:22] cgmaier commented on #49
hi we have SPM working for the latest version:
https://github.com/Giphy/giphy-ios-sdk/releases

please let us know if you have any issues!

thanks for your patience

[2021-02-09 18:24] cgmaier commented on #138
hey @genegoykhman ! with the latest release, we've switched over to dynamic framework, which makes it so that the flag is not necessary. we can do this new that we have finally built our own native solutions for all our dependencies.

https://github.com/Giphy/giphy-ios-sdk/releases

[2021-02-09 18:24] #138 closed

[2021-02-10 05:50] genegoykhman commented on #138
Yup @cgmaier updating to 2.1.3 did the trick. No more `-ObjC` required. Thanks!

[2021-02-10 15:17] m1entus opened #142 "Not compiling on 2.1.4 installed from Pods"
Hey, seems you have issue with newest version, i just wanted to bump from 2.0.9 to 2.1.4 and i am getting No such module 'GiphyUISDK', when i install 2.1.3 all is working fine, i am testing on iPhone 12 mini simulator.

[2021-02-10 16:02] Lizmaddy commented on #82
@cgmaier - Any update on resolving this issue?

[2021-02-10 16:26] cgmaier commented on #142
hey @m1entus thanks - 2.1.4 is working now. sorry about that!

[2021-02-10 16:26] #142 closed

[2021-02-10 16:33] m1entus commented on #142
@cgmaier Hey hmm, i have still issue, i am fetching from 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.1.4/Giphy.podspec' because 2.1.4 is not found on Pods trunk.

[2021-02-10 16:40] cgmaier commented on #142
can you try clearing your cache?
[code]

[2021-02-10 17:42] m1entus commented on #142
Ok all good, thanks

[2021-02-17 17:33] #49 closed

[2021-02-17 21:35] Ngsetest commented on #137
Hey @cgmaier thx for you help. But now I still see the wrong color. I set it to red/yellow/green, but I always get blue :)
![image](https://user-images.githubusercontent.com/29040713/108270878-b44ea800-7178-11eb-8876-04cd98098178.png)
Giphy SDK version 2.1.5, iOS 14.1

[2021-03-03 16:59] mmdock opened #145 "NSInternalInconsistencyException Crash with 2.1.5"
Fatal Exception: NSInternalInconsistencyException
attempt to delete item 49 from section 0 which only contains 0 items before the update

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x2356cf180 __exceptionPreprocess
1  libobjc.A.dylib                0x2348a79f8 objc_exception_throw
2  CoreFoundation                 0x2355e888c +[_CFXNotificationTokenRegistra

[2021-03-03 17:06] cgmaier commented on #145
hey @mmdock thanks for flagging this

some more helpful details that would be good to know are:
- are there any specific repro steps?
- can we pinpoint device types / iOS versions where this is happening?
- do you have data around the frequency of the crash?
- are you using a `GiphyGridController` or `GiphyViewController` based solution?

[2021-03-03 17:51] mmdock commented on #145
Repro steps: None at this time.  I just rolled out giphy updated to 2.1.5 in my latest app release on Monday and I noticed that this was a new issue.  Since Monday around 1pm PST this has gotten about only 10 crashes. I have yet to try and repro personally.

Devices / OS:
Looks like entirely on iOS 12

This is the entirety of my giphy implementation 😆
[code]

[2021-03-05 16:27] cgmaier commented on #145
nice integration! we'll take a look. please keep us posted around any additional insights @mmdock

[2021-03-07 02:43] n1cameron opened #146 "gifByID not pulling from cache"
In my messaging app, I am sending the media ID. As suggested by the docs, on the receiving end I am loading the image via

[code]

The images are not being cached and only kept while on the chat screen. As soon as leaving the chat screen the images disappear.

How would I be able to use the cache while using gifByID?

[2021-03-07 03:52] schazers commented on #44
+1 on this! Am using SwiftUI, and this would be very helpful 👍

[2021-03-07 05:41] schazers commented on #44
Just a note to @ealeksandrov and anyone who finds the info useful: GiphyViewController is not useless in SwiftUI, as you stated above. I just dropped it into my app and am happy using it. I am wrapping it inside a UIVIewControllerRepresentable, presenting it atop a live camera view by using a ZStack. I'm placing the view atop a semi-transparent black background, and providing the top and bottom of

[2021-03-13 14:28] ealeksandrov commented on #44
Thank you for sharing your solution @schazers! This is a viable option for full-screen popover (but I haven't fully tested it).

Unfortunately it won't fit some use cases, like showing GIFs picker below the input field, in place of keyboard:

![comparison](https://user-images.githubusercontent.com/3132438/111033258-56cd1480-8421-11eb-8ea9-1a46a2e817c9.jpg)

As you can see - `SCSDKBitmojiStickerPic

[2021-03-14 18:31] truthhonestmessaging opened #147 "Weird behavior when opening GiphyViewController while keyboard is open."
GiphyViewController has a few weird bugs.

![IMG_35858143D478-1](https://user-images.githubusercontent.com/71686579/111079689-4451ea00-84b8-11eb-9224-b27df3574932.jpeg)

As you can see in the screenshot, if the keyboard is opened before opening the GiphyViewController, it will open 70% like as I specified but then the keyboard in the background will close automatically and open 100% of the drawer.

[2021-03-14 18:40] truthhonestmessaging commented on #147
Nevermind I found a workaround to this problem. Feel free to close this if you like!

Workaround: close the keyboard before presenting GiphyViewController.

:]

[2021-03-18 19:44] cgmaier commented on #145
pushed a new version with a hopeful fix for this.
https://github.com/Giphy/giphy-ios-sdk/releases/tag/v2.1.6

thanks @mmdock !

[2021-03-22 19:20] ekurutepe opened #149 "Codesign Error with GiphyUISDK 2.1.6"
We import the SDK through SPM. Everything works as expected up to 2.1.5

Today I upgraded to 2.1.6 and it broke our release pipeline with the following error when codesigning before upload:
[code]

Downgrading back to 2.1.5 fixes the issue.

[2021-03-23 16:29] davidsiu commented on #149
Same here. It is failing on our M1 Mac Mini building in Rosetta mode.

[2021-04-02 08:18] AndrewSB commented on #149
oh wow... I spent like 2 hours trying to figure this out, didn't realize it was Giphy. downgrading to 2.1.5 now...

https://github.com/firebase/firebase-ios-sdk/issues/6472 seems relevant.

[2021-04-04 06:49] ezzz commented on #120
Hello @cgmaier

I was using Giphy with SDK last year. Maybe you recall some of my questions :)
I understand it is no more possible.
What should I do exactly then?
- Remove Giphy json from Carthage
- Add the folder GiphyUISDK.xcframework from your repo to my own project?
- What about PINCache and PINOperation? I leave them in Carthage?
- I saw some webp dependency. Is there something to do with it?

[2021-04-06 00:00] cgmaier commented on #149
Sorry about the delay on this - sorry to hear it seems to have led to some painful debugging : /

I'm now back in business however, and just pushed a version `2.1.7` which should hopefully resolve this issue. I think I accidentally touched the mach-o setting in the last release.

Please let me know if this gets things working again. thanks!

[2021-04-08 10:24] arthurschiller opened #151 "Giphy SDK gets unintentionally copied into AppClip"
Hi,

I've just migrated migrated over to the Swift Package Manager version of the SDK and while uploading my app to AppStore Connect I've got the following error: ITMS-90680 (Screenshot attached).
Apparently this is caused by the framework being copied over into the AppClips folder of the app (which is not intended).
I've got the same issue with Instabug's SPM version but Firebase for example (whi

[2021-04-08 20:19] jnwagstaff commented on #149
@cgmaier I have the same problem on `2.1.7`, `2.1.5` is the latest version that is working for me

[2021-04-13 19:54] cgmaier commented on #149
thanks for confirming @jnwagstaff and thanks for sharing that firebase issue link @AndrewSB

I've tried a number of things and am yet to be able to reproduce the error uploading the example app to App Store Connect. I'm using Xcode 12.4 on an M1 MacBook Air. Any ideas?

I can't seem to determine what may be different about release `2.1.5` - the build script and build settings don't appear to have

[2021-04-17 00:36] AndrewSB opened #152 "YY fork?"
Hey! any chance of giphy prioritizing patching upstream `YYAnimatedImageView` instead of maintaining a fork? I use YY in my app, and I'd love to not bundle 2 versions, or use Giphy's without really understanding what might be different

thanks!

[2021-04-21 07:16] sourceSoftTauseef commented on #96
Hello cgmaier this command is not working in my mac

[2021-04-21 07:16] sourceSoftTauseef commented on #96
its giving the issue like this
 Failed to fetch podspec for `Giphy` at `https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.0.3-Xcode-12/Giphy.podspec`.
 Error: 403 Forbidden

[2021-04-21 08:07] Rytikov opened #153 "Weird Keyboard behaviour when opening GiphyViewController"
![Simulator Screen Shot - iPhone 12 - 2021-04-21 at 10 51 35](https://user-images.githubusercontent.com/10780470/115517451-d0adb480-a28f-11eb-96c8-4de8e3abec5a.png)

Steps to reproduce issue:

1) Show GiphyViewController
2) Tap on Text field and Start type a few symbols in Text field
3) Scroll up until the keyboard is disappeared
4) Tap on Text field

Actual result: Weird  Interface behaviour

Exp

[2021-04-24 14:32] cihadturhan opened #154 "How to use GPHCache with Objective C?"
I can't find `GPHCache` definition although I imported all the headers
[code]

and used clear method
[code]
But can't find GPHcache class
`Use of undeclared identifier 'GPHCache'`

[2021-04-26 09:09] mmdock commented on #145
@cgmaier hey! just saw this mention.  Will include the giphy update in our May 3rd release and will let you know shortly after if this is resolved

[2021-04-29 20:21] cgmaier commented on #153
hey @Rytikov I'm unable to reproduce this issue, though I have experienced similar issues in the simulator if the 'software keyboard' is not enabled. command-k can be used to toggle the software keyboard. hope this helps!

[2021-04-29 20:22] #147 closed

[2021-04-29 20:24] cgmaier commented on #120
hey @ezzz somehow this slipped by me! very sorry for the late reply.

a while ago I updated our docs with some info around Carthage:
https://github.com/Giphy/giphy-ios-sdk/blob/main/Docs.md#carthage

we no longer use PINCache or PINOperation as we built our own internal caching solution.

[2021-05-07 23:39] cgmaier commented on #154
hey @cihadturhan sorry about that. while `GPHCache` was marked `@objcMembers`, it was necessary for it to also extend `NSObject`. this is fixed in the latest release [2.1.8](https://github.com/Giphy/giphy-ios-sdk/releases/tag/v2.1.8)

[2021-05-07 23:40] #153 closed

[2021-05-07 23:46] cgmaier commented on #149
hey all,

we've determined this was an issue with Xcode, as noted in their [12.4 release notes](https://developer.apple.com/documentation/xcode-release-notes/xcode-12_4-release-notes):

this appears to be fixed with [Xcode 12.5](https://developer.apple.com/documentation/xcode-release-notes/xcode-12_5-release-notes):

cc @ALexanderLonsky

[2021-05-07 23:46] #149 closed

[2021-05-07 23:49] cgmaier commented on #151
hey @arthurschiller I'm hoping this will have been resolved with Xcode 12.5

please see my comment on a related issue here: https://github.com/Giphy/giphy-ios-sdk/issues/149#issuecomment-834870156

[2021-05-07 23:51] #151 closed

[2021-05-07 23:52] cgmaier commented on #145
hey @mmdock thanks! do you have any update?

[2021-05-14 09:42] puelocesar commented on #44
IMO, the best way of doing it is using Introspect:

[code]

[2021-05-14 18:54] mmdock commented on #145
@cgmaier still visible in my crashlytics logging for our app version that included giphy 2.1.6

[2021-05-14 18:56] mmdock commented on #145
it does looks like the crash frequency is down though
<img width="528" alt="Screen Shot 2021-05-14 at 11 56 02 AM" src="https://user-images.githubusercontent.com/2423465/118316225-6ad9d480-b4ab-11eb-8c2b-040b1553cef3.png">

[2021-05-17 14:41] jscalo opened #156 "GiphyYYAnimatedImageView.animationDuration returns 0"
`animationDuration` is a property of `UIImageView` which `GiphyYYAnimatedImageView` inherits from. I think `GiphyYYAnimatedImageView` should override `animationDuration` and return the correct value.

(The same could probably be said for `UIImageView.animationImages` but for now I really just need to know the animation duration 😀)

iOS SDK v2.1.8

[2021-05-17 14:52] jscalo opened #157 "In Swift, GiphyYYAnimatedImageView's image doesn't explicitly conform to GiphyYYAnimatedImage"
In Swift, `GiphyYYAnimatedImageView.image` is not explicitly declared to conform to the `GiphyYYAnimatedImage` protocol. The result is that trying to get the duration of a frame from `GiphyYYAnimatedImageView` is pretty unintuitive.

`GiphyYYAnimatedImageView.image.animatedImageDuration(at:)` doesn't work. Instead you'd need to do `GiphyYYAnimatedImageView.image as? GiphyYYAnimatedImage.animatedIm

[2021-05-17 15:28] jscalo opened #158 "GiphyGridController.cellPadding has no effect"
`GiphyGridController.cellPadding` seems to have no effect.

[code]

Result:

![image](https://user-images.githubusercontent.com/2917357/118514915-7ff87280-b6fa-11eb-91b3-c3080f81d674.png)

iOS SDK 2.8.1

[2021-05-17 18:29] jaimeeee opened #159 "Can't archive application when using compiled SDK on Catalina with Xcode 12.3"
I'm using Cocoapods to install the pods locally, then push the pods folder to the repository.

Locally it seems to be working without any issue using the latest SDK, tried installing the pods with Xcode 12.3, 12.4 and 12.5. However, when running `xcodebuild` remotely (on a machine with Catalina and Xcode 12.3), I'm getting the following error:

[code]

Any suggestions on this? Thanks in advanced!

[2021-05-19 14:26] puelocesar commented on #159
I'm having the exact same issue

[2021-05-31 09:07] mukulsharma7666 commented on #159
same issue, any solution

[2021-06-16 11:07] PNSona opened #161 "How to save giphy into local data base?"
I have saved the media.url into local data base but not able to show it on other page later on

// delegate method where i get the media.url or media
 func didSelectMedia(media: GPHMedia, cell: UICollectionViewCell) {

        self.dismiss(animated: true, completion: {
            self.delegate?.getSelectedGiphy(mediaUrl: media.url , media: media)
       })
    }
// to load giphy i have used media

[2021-06-17 18:04] cgmaier commented on #161
hey @PNSona can you try a media id based solution? as documented here:
https://github.com/Giphy/giphy-ios-sdk/blob/main/Docs.md#media-ids

[2021-06-18 07:26] PNSona commented on #161
Hi Christopher Maier,

 Thank you for your response.
 This solution is working for me.

On Thu, Jun 17, 2021 at 11:34 PM Christopher Maier ***@***.***>
wrote:

[2021-06-21 17:36] #161 closed

[2021-06-21 18:46] cgmaier commented on #82
hey everyone, as of `v2.1.9` GIPHY iOS SDK supports VoiceOver.

We added accessibility information for our `GiphyGridController` cells - every cell has descriptive text for VoiceOver to read by one-finger tap, and it’s possible to triple-swipe up and down to page through all the elements with VoiceOver on.

[2021-06-23 11:47] Sunilkumarr opened #163 "AVFoundation' was created for incompatible target arm64-apple-ios14.5-simulator in pod GiphyUISDK.framework"
Hi,

**Xcode**: 12.5
**SDK minimum**: 10.0
**Cocoapods**: 1.10.1
**Giphy pod**  : ``pod 'Giphy', "~>2.1.8"``

**issue:**
This error is coming when we build from bitrise CI when we use the pod lib lint command from the fast line the Giphy SDK  build error comes but when we do pod lib lint from local MacBook it works fine.

**Logs:**

[17:06:12]: --- Step: pod_lib_lint ---
[17:06:12]: --------------

[2021-07-07 15:19] dmbond commented on #159
Because fresh versions of XCode have these options added to Xcode.app/Developer/usr/lib/bitcode_build_tool/verifier.py. You can copy and replace this file from 12.5.1 or install Big Sur and the latest Xcode )

[2021-07-09 05:29] #154 closed

[2021-07-09 05:30] #82 closed

[2021-07-14 04:07] jaflo opened #164 "Adding a static presentation mode suitable for embedding in a SwiftUI sheet"
I am trying to use the SDK with SwiftUI and have taken an approach similar to #44 to present the picker in a sheet. Everything looks good, the only issues are that:

* there is a gap above the grabber since everything is embedded in the modal, but padding is added by the SDK even when `trayHeightMultiplier` is set to 1, and
* when dragging down, the picker becomes smaller, but the containing modal

[2021-07-29 21:41] jordangustafson opened #165 "Pod Installation Issue"
There are appears to be an issue when installing the latest version of the Giphy SDK (2.1.9). It looks like the path to the framework isn't being properly added to the `.xcodeproj`. This results in the `No such module 'GiphyUISDK'` error when adding `import GiphyUISDK` to a file. This issue only seems to occur with `2.1.9`, using `2.1.8` resolves this issue. We have had version `2.1.9` added to ou

[2021-07-30 14:29] m1entus commented on #165
I have same issue on newes Xcode 13 Beta, are you able to resolve that it will compile on newest Xcode ?

[2021-07-30 15:09] jordangustafson commented on #165
@m1entus  I have tried it on Xcode 12.4, 12.5, and 13, I can reproduce the issue on all of them

[2021-08-04 06:28] QiJing13 opened #166 "Can't load clips to play"
Follow instruct create and add the GPHVideoView to my App view:
        let videoView = GPHVideoView()
        videoView.media = media
        view.addSubview(videoView)
        videoView.play()
But the gif is not loaded and no audio is played, just a colored background, have any idea how to resolve this ? Thank you very much!

[2021-08-04 15:56] cgmaier commented on #166
Hi @QiJing13 thanks for playing around with GIPHY Clips! Can you please confirm that `media.type == .video`?

[2021-08-04 16:00] #165 closed

[2021-08-05 01:45] QiJing13 commented on #166
Hi @cgmaier  thanks for reply, I have a if to check media type is GPHMediaTypeVideo

[2021-08-06 02:58] QiJing13 commented on #166
After set the videoView frame and play the video after about 2 seconds , it show up ,but there is another issue , I will close this one and open another, thank you !

[2021-08-06 02:58] #166 closed

[2021-08-06 03:01] QiJing13 opened #169 "Create Clip type with parameters not working"
Here is the code :
// the parameters are got from one clip giphy return , I want to rebuild the clip with parameters so do not need to save the
    // whole media
let media = GPHMedia("7NRNTnJHxITfJjku4Z", type: .video, url: "https://giphy.com/clips/studiosoriginals-reaction-emotion-penguin-7NRNTnJHxITfJjku4Z")
        let videoView = GPHVideoView()
        videoView.media = media
        videoVie

[2021-08-10 16:41] mmdock opened #170 "Network response times"
Not sure where to report this, but in the past few days I have been seeing a large increase in response times for various urls. from giphy that are in use.

Any ideas about this?

<img width="723" alt="Screen Shot 2021-08-10 at 9 39 21 AM" src="https://user-images.githubusercontent.com/2423465/128899147-9231ac2b-5a61-420f-9018-9ba60ef4f0f3.png">
<img width="701" alt="Screen Shot 2021-08-10 at 9 39

[2021-08-13 14:56] mendimr commented on #146
Were you able to find any solution for this?
Currently having the same problem, even when scrolling on a collection view gifByID re-downloads the gif.

https://www.dropbox.com/s/sb9ei2cac6f9cqy/giphyGifById.MP4?dl=0
* Network Link Conditioner is enabled on Edge.
* Duplicate GIFs have been intentionally added to test the cache.
* At the end of the video I opened the GIPHY VC to see if the loaded GI

[2021-08-19 12:23] vysotskiyserhiy opened #172 "iOS SDK starts failing"
Hello!

My GiphyViewController starts failing with bad url error after showing 4-5 times. Please let me know if this issue goes away once on production or it’s something bad.

app I’m using your swift example app with just my api key.

Error:
Task <FD94D71D-2A21-4101-ADE2-ECFBFF7DF515>.<25> finished with error [-1000] Error Domain=NSURLErrorDomain Code=-1000 "bad URL" UserInfo={_kCFStreamErrorCode

[2021-09-17 17:31] AlexandreHauber opened #175 "Support for macOS - SwiftUI"
Hello!

I am working in a SwiftUI project in which we will be supporting both iOS and macOS. I understand I could achieve a gif picker for macOS by using the open apis, but first I wanted to check if there is any work being done for macOS. If so, how can I help?
If not, I am willing to fork the project and work on a version for SwiftUI (both iOS and macOS).

Not sure how to proceed, any thoughts o

[2021-09-27 16:12] cgmaier commented on #175
hey @AlexandreHauber, we don't have any additional work currently planned for macOS, but as I understand it a number of developers are using the GIPHY SDK successfully in their Mac apps. The `.xcframework` contains the necessary architectures for Mac support, and the UI translates surprisingly well out of the box. Let us know if you're investigation yields any ideas for Mac improvements we can con

[2021-10-01 14:39] AlexandreHauber commented on #175
Hey @cgmaier, thanks for the feedback.
I am using SwiftUI and I import `GiphyUISDK`, version 2.1.11, as SPM. For iOS it works perfectly. For macOS I always get `No such module 'GiphyUISDK'`.

Do you know if people using for Mac apps are already running SwiftUI projects?
Now I am trying to use it as a local package so I can tweak and try to figure out why it does not recognize it. If I get to under

[2021-10-17 20:09] cihadturhan opened #176 "[Objective C] No doc for configureWithApiKey"
Hi,
For project restrictions, I have to use Objective C and looks like you've changed and added new parameter for configure function. Function definitions is like following:

[code]

What are these `verificationMode` and `metadata`?

[2021-11-16 21:31] ALexanderLonsky commented on #176
hey @cihadturhan,

There is a verification flow available under the web dashboard, however, it’s not required for production approval. You can set it to `false`.

`metadata` is for the SDK's internal needs, please provide an empty dictionary.

[2021-11-21 05:03] nitinkumardb commented on #172
Any solution for this issue?

[2021-12-05 22:51] Fibonacci336 opened #186 "Can't build Giphy included project for iOS, only for iOS simulator"
I recently installed Giphy via Cocoapods and I have not been able to run the project now on any device other than a simulator.

The primary issue appears to be this:
"ld: building for iOS, but linking in dylib file (*/Build/Products/Debug-iphoneos/GiphyUISDK.framework/GiphyUISDK) built for iOS Simulator, file '*/Build/Products/Debug-iphoneos/GiphyUISDK.framework/GiphyUISDK' for architecture arm64"

[2021-12-06 00:59] cgmaier commented on #186
hey @Fibonacci336 - sorry about that! we should be able to get this sorted

what version of Xcode are you on? we compiled the last few versions with Xcode 13 - in the past the Swift compilers across Xcode versions sometimes don't play nice with each other...but I'd have hoped all of those issues would've been resolved by now, especially since we've switched to .xcframeworks

if you're on Xcode 12,

[2021-12-06 01:01] Fibonacci336 commented on #186
I am currently on Version 13.1 (13A1030d)

[2021-12-06 01:02] cgmaier commented on #186
thanks for clarifying - I'll look into this & try to get back to you by EOD tomorrow

[2021-12-06 01:02] Fibonacci336 commented on #186
Thank you!

[2021-12-07 16:34] cgmaier commented on #186
hey @Fibonacci336 we weren't able to repro on our end. I wonder if it could be a CocoaPods issue - similar to https://github.com/mapbox/mapbox-navigation-ios/issues/2674#issuecomment-703074011

what version of CocoaPods are you on ?

[2021-12-07 19:20] Fibonacci336 commented on #186
Version 1.9.3

[2021-12-08 19:04] Fibonacci336 commented on #186
@cgmaier I updated CocoaPods and reinstalled my pods and no change

[2021-12-12 05:54] Fibonacci336 commented on #186
For anyone in the future: `pod deintegrate`, then delete derived data, then `pod install`

[2021-12-12 05:54] #186 closed

[2021-12-13 23:00] cgmaier commented on #169
hey @QiJing13 apologies for never addressing this. the `GPHMedia` constructor isn't intended for this use case - we're in the process of removing it as a publicly available interface. please use the `getGifById` or `getGifByIds` endpoints to fetch `GPHMedia`

[2021-12-13 23:00] #169 closed

[2021-12-13 23:03] cgmaier commented on #158
hey @jscalo this was addressed a while back in this release - https://github.com/Giphy/giphy-ios-sdk/releases/tag/v2.1.10

could have sworn I noted it in this issue but appears not! sorry about that.

[2021-12-13 23:03] #158 closed

[2021-12-13 23:04] cgmaier commented on #156
hey @jscalo we also addressed this issue in this release. again, appears I forgot to note it in this issue!
https://github.com/Giphy/giphy-ios-sdk/releases/tag/v2.1.10

[2021-12-13 23:04] #156 closed

[2021-12-13 23:06] cgmaier commented on #172
@nitinkumardb this could be a matter of updating to production key

[2021-12-16 10:37] bhaskarsharecare opened #187 ""No gif" is displayed after using for some time"
Task <69948332-70AE-48E2-B4D0-B3F2B67D96BB>.<15917> finished with error [-1000] Error Domain=NSURLErrorDomain Code=-1000 "bad URL" UserInfo={_kCFStreamErrorCodeKey=-2203, NSUnderlyingError=0x6000000664f0 {Error Domain=kCFErrorDomainCFNetwork Code=-1000 "(null)" UserInfo={NSErrorPeerAddressKey=<CFData 0x600002d3dc70 [0x112e21bf0]>{length = 16, capacity = 16, bytes = 0x100201bb97650e0200000000000000

[2021-12-17 12:46] carlotaprat opened #188 "Module stability"
Seems like module stability is not provided anymore or broken. For now, I'm forced to use version 2.1.10 because I can't use Swift 5.5
Any thoughts?

[2021-12-28 17:38] BalajiAnandan15 opened #189 "Tap isn't recognized on Suggestion Cell(GPHTermSuggestionCell)"
Tap is only recognized on the icon("trending up-arrow icon" & "@"text) of the UICollectionView Suggestion, I need to recognize the tap action whole to the collection view cell. any update for this solution? Anyone?

Thanks in advance for the help.

[2022-01-10 16:29] alex-taffe opened #190 "Swift Concurrency Import Issues"
Some of our clients are still on Xcode 12.x and newer versions of Giphy fail to compile due to:
[code]

A line such as:
[code]
May be necessary, not sure how this works with precompiled frameworks. An `@available` may be the correct option too

[2022-01-11 17:44] ALexanderLonsky commented on #189
Hey @BalajiAnandan15,
what SDK version do you use?
We should have fixed that in [v2.1.16](https://github.com/Giphy/giphy-ios-sdk/releases/tag/v2.1.16)

[2022-01-11 17:47] BalajiAnandan15 commented on #189
Thanks for the reply, I didn't mention any specific version for the pod in my project, just a stable pod which I'm using now in my iOS - project.

[2022-01-12 13:02] ALexanderLonsky commented on #189
hey @BalajiAnandan15.
You can check the current version in your `Podfile.lock` file.

Please be sure to do
`pod repo update`
right before `pod install` to pull the latest [PodSpecs](https://github.com/CocoaPods/Specs)

As an option, you can specify pod version:
`pod 'Giphy', :podspec => 'https://s3.amazonaws.com/sdk.mobile.giphy.com/SDK/2.1.16/Giphy.podspec'`